docs/n8n/la isla/[MVP] Preguntas.json
{
  "name": "[MVP] Preguntas",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "pregunta"
            },
            {
              "name": "telefono"
            },
            {
              "name": "session_id"
            },
            {
              "name": "restaurante_id"
            }
          ]
        }
      },
      "id": "27aec494-e69f-4085-a4f5-98164d8132de",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        176,
        272
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').first().json.pregunta }}",
        "options": {
          "systemMessage": "Eres el asistente de información de La Isla Pizzería\n\nResponde en español claro y breve. Máximo 4 frases. Texto plano. Puedes usar bullets simples con \"•\" si enumeras varias opciones.\n\nTOOLS:\n- Preguntas: preguntas frecuentes del restaurante.\n- Menu: catálogo actual del menú con categorías, productos, variantes/tamaños, extras y personalización.\n- Horarios: horario regular del local.\n\nREGLAS:\n1. Nunca inventes precios, ingredientes, tamaños, variantes ni extras.\n2. Si preguntan por menú, categorías, productos, variantes/tamaños, extras o personalización, usa Menu.\n3. Si preguntan por métodos de pago, delivery, cómo pedir o FAQs, usa Preguntas.\n4. Si preguntan por horarios o apertura, usa Horarios.\n5. Si no hay información exacta, dilo con honestidad.\n6. No tomes pedidos. Si el cliente quiere pedir, di: \"En el chat principal te ayudo con el pedido.\"\n7. Si hay varias opciones, ordénalas y muéstralas claramente.\n8. Si la pregunta es ambigua, haz una sola pregunta aclaratoria."
        }
      },
      "id": "283b3f75-ecfb-440e-b480-1a53e969d764",
      "name": "Agente Preguntas",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        272
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.2,
          "parallelToolCalls": false,
          "useResponsesApi": false
        }
      },
      "id": "1097278e-0acd-4506-be83-4db3233fdb4c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        496
      ],
      "credentials": {
        "openAiApi": {
          "id": "HJg3oCSrlKPoW35V",
          "name": "OpenAI account n8nlaisla"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').first().json.restaurante_id + '_' + String($('When Executed by Another Workflow').first().json.telefono) }}",
        "contextWindowLength": 10
      },
      "id": "cb7823f6-4c3c-4422-9a48-5fb4e113534a",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        480,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "cfmYSBh3ClVgSqjm",
          "name": "postgres restaurante_mvp"
        }
      }
    },
    {
      "parameters": {
        "content": "## MVP – Preguntas v2\n\nSubflujo: responde preguntas de menú, precios, FAQs.\n\n**Tools:**\n- vw_preguntas (FAQs del restaurante)\n- vw_menu (catálogo con precios, variantes, extras y alérgenos)\n\nNO toma pedidos.",
        "height": 280,
        "width": 600,
        "color": 4
      },
      "id": "99b0890c-7518-4176-a7b0-fcc40991de77",
      "name": "SN_0a5581",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Base de conocimiento del restaurante: FAQs sobre delivery, metodos de pago, horarios, zona de cobertura, como hacer pedidos, politicas y preguntas frecuentes. Usala para responder preguntas generales sobre el restaurante. Devuelve la pregunta, respuesta y palabras clave.",
        "operation": "executeQuery",
        "query": "SELECT pregunta, respuesta FROM public.faqs WHERE restaurante_id = {{ $('When Executed by Another Workflow').first().json.restaurante_id }} ORDER BY COALESCE(orden,0), pregunta",
        "options": {}
      },
      "id": "95ea4a4c-b2f8-4fc6-bb4d-62a6d6eb3a09",
      "name": "Preguntas",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        624,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "cfmYSBh3ClVgSqjm",
          "name": "postgres restaurante_mvp"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Catálogo completo del restaurante: categorías, productos, variantes o tamaños, precios, descripciones y extras disponibles. Úsala para responder qué hay en el menú, cuánto cuesta un producto, qué variantes/tamaños existen, qué extras o personalizaciones permite y qué categoría corresponde.",
        "operation": "executeQuery",
        "query": "SELECT categoria, producto, descripcion, variante AS tamano, precio, extras_disponibles, disponible, tags, is_pizza, producto_display\nFROM public.fn_menu_lookup(NULL, {{ $('When Executed by Another Workflow').first().json.restaurante_id }})\nORDER BY categoria, producto, precio",
        "options": {}
      },
      "id": "9c4306d2-a317-4031-8ec6-b6ea6733c0a1",
      "name": "Menu",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        768,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "cfmYSBh3ClVgSqjm",
          "name": "postgres restaurante_mvp"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT dia, disponible, apertura_1, cierre_1, apertura_2, cierre_2\nFROM public.horarios\nWHERE restaurante_id = {{ $('When Executed by Another Workflow').first().json.restaurante_id }}\nORDER BY CASE lower(dia) WHEN 'lunes' THEN 1 WHEN 'martes' THEN 2 WHEN 'miércoles' THEN 3 WHEN 'miercoles' THEN 3 WHEN 'jueves' THEN 4 WHEN 'viernes' THEN 5 WHEN 'sábado' THEN 6 WHEN 'sabado' THEN 6 WHEN 'domingo' THEN 7 ELSE 99 END",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        704,
        640
      ],
      "id": "5fdbf8bd-d32c-43d4-b71f-55a2db877a9d",
      "name": "Horarios",
      "credentials": {
        "postgres": {
          "id": "cfmYSBh3ClVgSqjm",
          "name": "postgres restaurante_mvp"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Nodo de catch global para Preguntas\n// Se activa cuando cualquier nodo upstream falla (onError: continueErrorOutput)\nconst err = $input.first();\nconst origen = err?.json?.node || err?.json?.source || 'nodo desconocido';\nconst detalle = err?.json?.message || err?.json?.error || 'sin detalle';\nconst telefono = $('When Executed by Another Workflow').first().json?.telefono || '';\n\nreturn [{\n  json: {\n    success: false,\n    error: true,\n    tipo: 'sistema',\n    subflujo: 'Preguntas',\n    mensaje: `Error técnico en Preguntas (${origen}): ${detalle}`,\n    puede_continuar: false,\n    mutar_db: false,\n    telefono: telefono,\n    problema_escalacion: `Error técnico en Preguntas (${origen}): ${detalle}`\n  }\n}];"
      },
      "id": "3315c948-d896-4713-b3ce-0243c13f5d9f",
      "name": "Respuesta Error Sistema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.escalaciones\n  (restaurante_id, telefono, problema, contexto, conversation_id, account_id, contact_id, tipo_escalacion, estado)\nVALUES (\n  {{ $('When Executed by Another Workflow').first().json.restaurante_id }},\n  '{{ $input.first().json.telefono.replace(/'/g, \"''\") }}',\n  '{{ $input.first().json.problema_escalacion.replace(/'/g, \"''\") }}',\n  '{\"subflujo\": \"Preguntas\", \"tipo\": \"error_sistema\"}'::jsonb,\n  '', '', '', 'error_sistema', 'pendiente'\n)",
        "options": {}
      },
      "id": "e0f434e9-6535-4677-ae22-782d63303331",
      "name": "Registrar Escalacion Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1104,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "cfmYSBh3ClVgSqjm",
          "name": "postgres restaurante_mvp"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Reenviar la respuesta de error al Director sin modificar\nreturn [$(\"Respuesta Error Sistema\").first()];"
      },
      "id": "bb297ac4-9a20-4672-9731-d064bb9a3aed",
      "name": "Devolver Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Agente Preguntas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Preguntas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Preguntas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Preguntas": {
      "ai_tool": [
        [
          {
            "node": "Agente Preguntas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Menu": {
      "ai_tool": [
        [
          {
            "node": "Agente Preguntas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Horarios": {
      "ai_tool": [
        [
          {
            "node": "Agente Preguntas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente Preguntas": {
      "main": [
        [],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Error Sistema": {
      "main": [
        [
          {
            "node": "Registrar Escalacion Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Escalacion Error": {
      "main": [
        [
          {
            "node": "Devolver Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "02c83d59-34e3-4a36-8f29-477d31afe03c",
  "meta": {
    "instanceId": "3e9e2731a8d5bb19fd4086b1e0521bd627f7d1fd4fb35cc0a5387b699bc723b0"
  },
  "nodeGroups": [],
  "id": "rt7yh6MKsbONNawJ",
  "tags": [
    {
      "updatedAt": "2026-06-25T02:29:10.983Z",
      "createdAt": "2026-06-25T02:29:10.983Z",
      "id": "iHY0ViJCwGX9jPB8",
      "name": "MVP"
    }
  ]
}