docs/n8n/la isla/[MVP] Notificacion Estado Pedido.json
{
  "name": "[MVP] Notificacion Estado Pedido",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notificacion-estado-pedido",
        "responseMode": "immediately",
        "options": {}
      },
      "id": "ce324d82-bf2f-40e7-9f3d-3f849ce3bf7a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "aa000001-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "url": "https://la-isla-chatwoot.avtsif.easypanel.host/api/v1/accounts/1/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.body.telefono }}"
            },
            {
              "name": "include_contacts",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "00b4648c-7b30-412a-873a-e4cb3297bbe4",
      "name": "Buscar Contacto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TRpswqZMEVt7LNy8",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-contact",
              "leftValue": "={{ Array.isArray($json.payload) && $json.payload.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ac29c2db-d674-4d21-a592-b8d2f030efc4",
      "name": "¿Contacto Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://la-isla-chatwoot.avtsif.easypanel.host/api/v1/accounts/1/contacts/{{ $json.payload[0].id }}/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "f8673791-6ca7-431f-a294-99748be36a0c",
      "name": "Obtener Conversaciones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TRpswqZMEVt7LNy8",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const webhook = $(\"Webhook\").first().json.body || {};\nconst convData = $(\"Obtener Conversaciones\").first().json;\n\n// Obtener la conversación más reciente (mayor id = más reciente)\nconst conversaciones = Array.isArray(convData.payload) ? convData.payload : [];\nconst ultimaConv = conversaciones.length > 0\n  ? conversaciones.slice().sort(function(a, b) { return (b.id || 0) - (a.id || 0); })[0]\n  : null;\nconst conversationId = ultimaConv ? ultimaConv.id : null;\n\nconst eventType = String(webhook.event_type || '');\nconst codigo = String(webhook.pedido_codigo || '?');\nconst tipoDespacho = String(webhook.tipo_despacho || 'retiro');\nconst tiempoEstimado = webhook.tiempo_estimado ? String(webhook.tiempo_estimado) : null;\nconst datosBancarios = webhook.datos_bancarios || null;\n\nlet despachoTexto = '';\nif (tipoDespacho === 'delivery') {\n  despachoTexto = tiempoEstimado\n    ? 'Lo recibirás en aproximadamente ' + tiempoEstimado + '.'\n    : 'Pronto lo recibirás en tu dirección.';\n} else {\n  despachoTexto = 'Puedes retirarlo en el local cuando estés listo.';\n}\n\n// Confirmado — incluye datos bancarios si el pago es por transferencia\nlet mensajeConfirmado = '\\u2705 Tu pedido #' + codigo + ' está confirmado. ' + despachoTexto;\nif (datosBancarios) {\n  mensajeConfirmado += '\\n\\n\\uD83C\\uDFE6 *Datos para transferencia:*';\n  if (datosBancarios.banco)   mensajeConfirmado += '\\nBanco: ' + datosBancarios.banco;\n  if (datosBancarios.titular) mensajeConfirmado += '\\nTitular: ' + datosBancarios.titular;\n  if (datosBancarios.cuenta)  mensajeConfirmado += '\\nCuenta: ' + datosBancarios.cuenta;\n  if (datosBancarios.alias)   mensajeConfirmado += '\\nAlias: ' + datosBancarios.alias;\n  mensajeConfirmado += '\\n\\nUna vez realizada, envíanos el comprobante por aquí. ¡Gracias!';\n}\n\n// Listo — solo retiro (delivery no recibe esta notificación)\nconst mensajeListo = '\\uD83D\\uDD14 ¡Tu pedido #' + codigo + ' está listo para retirar! Te esperamos en el local.';\n\n// Entregado — retiro y delivery\nconst mensajeEntregado = '\\uD83D\\uDCE6 Tu pedido #' + codigo + ' fue entregado. ¡Gracias por elegirnos!';\n\nconst mensajes = {\n  confirmado:      mensajeConfirmado,\n  listo:           mensajeListo,\n  en_camino:       '\\uD83D\\uDEF5 Tu pedido #' + codigo + ' ya está en camino. ¡Pronto llega!',\n  entregado:       mensajeEntregado,\n  cancelado:       '\\u274C Tu pedido #' + codigo + ' ha sido cancelado. Escríbenos si tienes alguna duda.',\n  pago_confirmado: '\\u2705 Confirmamos el pago de tu pedido #' + codigo + '. ¡Gracias!'\n};\n\nconst mensaje = mensajes[eventType] || null;\n\nreturn [{ json: { conversation_id: conversationId, mensaje: mensaje, event_type: eventType } }];"
      },
      "id": "c6c020c3-85c9-462b-8aed-adb9075a16c7",
      "name": "Construir Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-conv",
              "leftValue": "={{ $json.conversation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "check-msg",
              "leftValue": "={{ $json.mensaje }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8280a200-f45a-4ea6-a9fd-8b9e5e781fc2",
      "name": "¿Hay Conversación?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://la-isla-chatwoot.avtsif.easypanel.host/api/v1/accounts/1/conversations/{{ $json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.mensaje) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}",
        "options": {}
      },
      "id": "9200cc8f-6575-4cbd-8eb0-3f1de662ffa9",
      "name": "Enviar Mensaje",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TRpswqZMEVt7LNy8",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "event_type": "confirmado",
            "pedido_id": 42,
            "pedido_codigo": "ISL-2026-042",
            "telefono": "+56912345678",
            "tipo_despacho": "delivery",
            "tiempo_estimado": "30 minutos"
          },
          "headers": {},
          "params": {}
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Buscar Contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contacto": {
      "main": [
        [
          {
            "node": "¿Contacto Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Contacto Encontrado?": {
      "main": [
        [
          {
            "node": "Obtener Conversaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Conversaciones": {
      "main": [
        [
          {
            "node": "Construir Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Mensaje": {
      "main": [
        [
          {
            "node": "¿Hay Conversación?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Conversación?": {
      "main": [
        [
          {
            "node": "Enviar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8662c13c-f4da-4be1-8c39-062db4785f8d",
  "meta": {
    "instanceId": "3e9e2731a8d5bb19fd4086b1e0521bd627f7d1fd4fb35cc0a5387b699bc723b0"
  },
  "nodeGroups": [],
  "id": "AJDTWovhCECEyUvQ",
  "tags": []
}