docs/n8n/la isla/[MVP] Derivar Humano.json
{
  "name": "[MVP] Derivar Humano",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "problema"
            },
            {
              "name": "telefono"
            },
            {
              "name": "account_id"
            },
            {
              "name": "conversation_id"
            },
            {
              "name": "contact_id"
            },
            {
              "name": "contexto_actual"
            },
            {
              "name": "tipo_escalacion"
            }
          ]
        }
      },
      "id": "5993cdb8-b803-46ea-9edd-aedb33bff64e",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "parallelToolCalls": false,
          "useResponsesApi": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        224
      ],
      "id": "b156184a-7d13-4d45-b6ae-545bbf11f205",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HJg3oCSrlKPoW35V",
          "name": "OpenAI account n8nlaisla"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://la-isla-chatwoot.avtsif.easypanel.host/api/v1/accounts/{{ $('Variables').first().json.account_id }}/contacts/{{ $('Variables').first().json.contact_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"custom_attributes\": {\n    \"bot\": \"Off\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        0
      ],
      "id": "76a35cbc-4415-4552-87aa-542a1d1bf553",
      "name": "Apagar bot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TRpswqZMEVt7LNy8",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://srqnltqkppzoxgxlfuye.supabase.co/functions/v1/webhook-intervention",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"cliente_telefono\": \"{{ $('When Executed by Another Workflow').item.json.telefono }}\",\n  \"mensaje\": \"{{ $('When Executed by Another Workflow').item.json.problema }}\",\n  \"chatwoot_url\": \"https://tacticstudio-chatwoot.cblgis.easypanel.host/app/accounts/{{ $('Variables').item.json.account_id }}/conversations/{{ $('Variables').item.json.conversation_id }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1456,
        0
      ],
      "id": "39ec61cc-68df-4840-a978-b0b8e373e187",
      "name": "noti lovable",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.problema }}",
        "options": {
          "systemMessage": "=# ROL\nEres el agente de derivación humana del restaurante.\nTu única tarea es responder con un mensaje breve indicando que el caso será atendido por una persona.\n\nREGLAS:\n- Responde solo texto plano.\n- Máximo 2 frases.\n- Sin emojis.\n- Sin prometer tiempos exactos.\n- Si el cliente está molesto o reclama, empieza con una disculpa breve.\n- Si pide humano explícitamente, dilo con claridad.\n\nEJEMPLOS:\n- Entendido. Te paso con el encargado para revisarlo.\n- Claro. Te paso con una persona del equipo.\n- Disculpa la molestia. Te paso con el encargado para ayudarte."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        368,
        0
      ],
      "id": "e7a6c8ee-0fd8-4a05-95eb-de6683f6116a",
      "name": "Resuelve Problemas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "086483d7-ea9a-4b88-b027-c53010f0f034",
              "name": "mensaje",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "45b01b59-149f-47b5-a8bd-dad7e37e485a",
              "name": "account_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.account_id }}",
              "type": "string"
            },
            {
              "id": "2fdb9b75-0ff9-4787-b0fc-d99ef6700c5c",
              "name": "conversation_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "6d13ed1b-41ec-493c-af78-b94765865886",
              "name": "contact_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.contact_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "f7059d29-2077-4cfc-8609-bc86b27577af",
      "name": "Variables"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1056,
        0
      ],
      "id": "8e3f05d1-eb99-4b55-a890-3999c5f1aadf",
      "name": "Limit"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OXJWtkzaDC1D4SJt",
          "mode": "list",
          "cachedResultUrl": "/workflow/OXJWtkzaDC1D4SJt",
          "cachedResultName": "[MVP] Contexto"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Contexto Actual": "={{ $('When Executed by Another Workflow').item.json.contexto_actual || 'sin datos' }}",
            "Mensaje del Cliente": "={{ $('When Executed by Another Workflow').item.json.problema }}",
            "Respuesta del Agente": "={{ $('Resuelve Problemas').item.json.output }}",
            "Telefono": "={{ $('When Executed by Another Workflow').item.json.telefono }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Contexto Actual",
              "displayName": "Contexto Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Mensaje del Cliente",
              "displayName": "Mensaje del Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Respuesta del Agente",
              "displayName": "Respuesta del Agente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1664,
        0
      ],
      "id": "bfc6d0c5-5658-4eb8-aa25-95bea9988ca7",
      "name": "Crear Contexto1",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "// Prepara el payload para INSERT en escalaciones.\n// Tomamos los valores del trigger original para evitar referencias rotas.\nconst trigger = $('When Executed by Another Workflow').first().json;\nconst respuesta = (() => { try { return $('Resuelve Problemas').first().json.output || ''; } catch { return ''; } })();\n\nconst contexto = {\n  contexto_actual: trigger.contexto_actual || null,\n  respuesta_agente: respuesta\n};\n\nreturn [{\n  json: {\n    telefono:        String(trigger.telefono || ''),\n    problema:        String(trigger.problema  || '').substring(0, 1000),\n    contexto_str:    JSON.stringify(contexto),\n    conversation_id: String(trigger.conversation_id || ''),\n    account_id:      String(trigger.account_id      || ''),\n    contact_id:      String(trigger.contact_id      || ''),\n    tipo_escalacion: String(trigger.tipo_escalacion || 'derivacion_cliente')\n  }\n}];"
      },
      "id": "aa2be734-f730-4843-a5bc-e6a0e6d0915f",
      "name": "Preparar Escalacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.escalaciones\n  (restaurante_id, telefono, problema, contexto, conversation_id, account_id, contact_id, tipo_escalacion, estado)\nVALUES (\n  1,\n  '{{ $json.telefono.replace(/'/g, \"''\") }}',\n  '{{ $json.problema.replace(/'/g, \"''\") }}',\n  '{{ $json.contexto_str.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.conversation_id }}',\n  '{{ $json.account_id }}',\n  '{{ $json.contact_id }}',\n  '{{ $json.tipo_escalacion }}',\n  'pendiente'\n)\nRETURNING id, created_at",
        "options": {}
      },
      "id": "bff4e5eb-0d48-46cf-b162-e0de90b3c20c",
      "name": "Registrar Escalacion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2144,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "cfmYSBh3ClVgSqjm",
          "name": "postgres restaurante_mvp"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "problema": "Cliente molesto por problemas al registrar pedido y quiere hablar con un humano. Último mensaje del cliente: 'estoy super molesto pasame con un humano'",
          "telefono": "+56937569677",
          "account_id": 1,
          "conversation_id": 13,
          "contact_id": 1,
          "contexto_actual": "CLIENTE: no definido\nESTADO: recurrente\nULTIMA_INTERACCION: 2026-04-03 17:11\nPEDIDO_ACTUAL: en curso (2 pizzas pepperoni, 1 pizza margarita, 1 Coca Cola, subtotal no definido)\nFASE_PEDIDO: esperando_despacho\nDESPACHO: no definido\nMETODO_PAGO: no definido\nDIRECCION_CONOCIDA: no\nUBICACION_RECIBIDA: no\nPREFERENCIAS: prefiere pizzas pepperoni, pizza margarita y Coca Cola\nHISTORIAL_BREVE: Cliente confirmó pedido con dos pizzas pepperoni, una pizza margarita y una Coca Cola; persistió problema en registro; agente consultó modalidad de entrega\nTONO_CLIENTE: amigable\nULTIMA_ACCION: Cliente agregó una pizza pepperoni; agente confirmó y preguntó por más productos o modalidad de entrega\nPENDIENTE: Confirmación del cliente sobre agregar más productos o elegir modalidad de entrega (delivery o retiro)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Resuelve Problemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Resuelve Problemas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Apagar bot": {
      "main": [
        [
          {
            "node": "Crear Contexto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "noti lovable": {
      "main": [
        [
          {
            "node": "Crear Contexto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resuelve Problemas": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Apagar bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Contexto1": {
      "main": [
        [
          {
            "node": "Preparar Escalacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Escalacion": {
      "main": [
        [
          {
            "node": "Registrar Escalacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "05e7adea-6cd2-4a47-9a9e-6eb681957395",
  "meta": {
    "instanceId": "3e9e2731a8d5bb19fd4086b1e0521bd627f7d1fd4fb35cc0a5387b699bc723b0"
  },
  "nodeGroups": [],
  "id": "W4uBBY9mfZ207X3M",
  "tags": []
}