docs/n8n/[MVP] Derivar Humano.json
{
  "name": "[MVP] Derivar Humano",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "problema"
            },
            {
              "name": "telefono"
            },
            {
              "name": "account_id"
            },
            {
              "name": "conversation_id"
            },
            {
              "name": "contact_id"
            },
            {
              "name": "contexto_actual"
            }
          ]
        }
      },
      "id": "f3e6f20d-48a2-4ee8-9ec0-9c15b4bde2f9",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        224
      ],
      "id": "5c7af49f-cce1-49e3-a973-c94626909552",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iQIEdjfflw5sGyn1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://n8nlearning-chatwoot.avtsif.easypanel.host/api/v1/accounts/{{ $('Variables').first().json.account_id }}/contacts/{{ $('Variables').first().json.contact_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"custom_attributes\": {\n    \"bot\": \"Off\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        0
      ],
      "id": "c51ab5b9-8654-4b47-896c-485dcf5dbb64",
      "name": "Apagar bot",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GQGObUBKIPim8MDs",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://srqnltqkppzoxgxlfuye.supabase.co/functions/v1/webhook-intervention",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"cliente_telefono\": \"{{ $('When Executed by Another Workflow').item.json.telefono }}\",\n  \"mensaje\": \"{{ $('When Executed by Another Workflow').item.json.problema }}\",\n  \"chatwoot_url\": \"https://tacticstudio-chatwoot.cblgis.easypanel.host/app/accounts/{{ $('Variables').item.json.account_id }}/conversations/{{ $('Variables').item.json.conversation_id }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1456,
        0
      ],
      "id": "8fefe869-2bfa-4a89-bd91-993796a8408b",
      "name": "noti lovable",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.problema }}",
        "options": {
          "systemMessage": "=# ROL\nEres el agente de derivación humana del restaurante.\nTu única tarea es responder con un mensaje breve indicando que el caso será atendido por una persona.\n\nREGLAS:\n- Responde solo texto plano.\n- Máximo 2 frases.\n- Sin emojis.\n- Sin prometer tiempos exactos.\n- Si el cliente está molesto o reclama, empieza con una disculpa breve.\n- Si pide humano explícitamente, dilo con claridad.\n\nEJEMPLOS:\n- Entendido. Te paso con el encargado para revisarlo.\n- Claro. Te paso con una persona del equipo.\n- Disculpa la molestia. Te paso con el encargado para ayudarte."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        368,
        0
      ],
      "id": "1ede9ae6-4e66-4feb-ad35-178d9f06eaee",
      "name": "Resuelve Problemas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "086483d7-ea9a-4b88-b027-c53010f0f034",
              "name": "mensaje",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "45b01b59-149f-47b5-a8bd-dad7e37e485a",
              "name": "account_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.account_id }}",
              "type": "string"
            },
            {
              "id": "2fdb9b75-0ff9-4787-b0fc-d99ef6700c5c",
              "name": "conversation_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "6d13ed1b-41ec-493c-af78-b94765865886",
              "name": "contact_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.contact_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "c2f28c75-85a4-4ac6-98f3-d5c4ca7e7010",
      "name": "Variables"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1056,
        0
      ],
      "id": "9e51780f-0361-4f1e-af07-3f4df7fa27ab",
      "name": "Limit"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MKeEjy4NbORRNCvP",
          "mode": "list",
          "cachedResultUrl": "/workflow/MKeEjy4NbORRNCvP",
          "cachedResultName": "[MVP] Contexto"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Contexto Actual": "={{ $('When Executed by Another Workflow').item.json.contexto_actual || 'sin datos' }}",
            "Mensaje del Cliente": "={{ $('When Executed by Another Workflow').item.json.problema }}",
            "Respuesta del Agente": "={{ $('Resuelve Problemas').item.json.output }}",
            "Telefono": "={{ $('When Executed by Another Workflow').item.json.telefono }}",
            "Session ID": "={{ $('When Executed by Another Workflow').item.json.conversation_id }}",
            "Session Started At": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Contexto Actual",
              "displayName": "Contexto Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Mensaje del Cliente",
              "displayName": "Mensaje del Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Respuesta del Agente",
              "displayName": "Respuesta del Agente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Session ID",
              "displayName": "Session ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Session Started At",
              "displayName": "Session Started At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1664,
        0
      ],
      "id": "9698f1fb-9bc8-440d-9d75-a6fc3870fe14",
      "name": "Crear Contexto1",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "// Prepara el payload para INSERT en escalaciones.\n// Tomamos los valores del trigger original para evitar referencias rotas.\nconst trigger = $('When Executed by Another Workflow').first().json;\nconst respuesta = (() => { try { return $('Resuelve Problemas').first().json.output || ''; } catch { return ''; } })();\n\nconst contexto = {\n  contexto_actual: trigger.contexto_actual || null,\n  respuesta_agente: respuesta\n};\n\nreturn [{\n  json: {\n    telefono:        String(trigger.telefono || ''),\n    problema:        String(trigger.problema  || '').substring(0, 1000),\n    contexto_str:    JSON.stringify(contexto),\n    conversation_id: String(trigger.conversation_id || ''),\n    account_id:      String(trigger.account_id      || ''),\n    contact_id:      String(trigger.contact_id      || '')\n  }\n}];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Preparar Escalacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.escalaciones\n  (restaurante_id, telefono, problema, contexto, conversation_id, account_id, contact_id, estado)\nVALUES (\n  1,\n  '{{ $json.telefono.replace(/'/g, \"''\") }}',\n  '{{ $json.problema.replace(/'/g, \"''\") }}',\n  '{{ $json.contexto_str.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.conversation_id }}',\n  '{{ $json.account_id }}',\n  '{{ $json.contact_id }}',\n  'pendiente'\n)\nRETURNING id, created_at",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Registrar Escalacion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2130,
        0
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "problema": "Cliente molesto por problemas al registrar pedido y quiere hablar con un humano. Último mensaje del cliente: 'estoy super molesto pasame con un humano'",
          "telefono": "+56937569677",
          "account_id": 1,
          "conversation_id": 13,
          "contact_id": 1,
          "contexto_actual": "CLIENTE: no definido\nESTADO: recurrente\nULTIMA_INTERACCION: 2026-04-03 17:11\nPEDIDO_ACTUAL: en curso (2 pizzas pepperoni, 1 pizza margarita, 1 Coca Cola, subtotal no definido)\nFASE_PEDIDO: esperando_despacho\nDESPACHO: no definido\nMETODO_PAGO: no definido\nDIRECCION_CONOCIDA: no\nUBICACION_RECIBIDA: no\nPREFERENCIAS: prefiere pizzas pepperoni, pizza margarita y Coca Cola\nHISTORIAL_BREVE: Cliente confirmó pedido con dos pizzas pepperoni, una pizza margarita y una Coca Cola; persistió problema en registro; agente consultó modalidad de entrega\nTONO_CLIENTE: amigable\nULTIMA_ACCION: Cliente agregó una pizza pepperoni; agente confirmó y preguntó por más productos o modalidad de entrega\nPENDIENTE: Confirmación del cliente sobre agregar más productos o elegir modalidad de entrega (delivery o retiro)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Resuelve Problemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Resuelve Problemas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Apagar bot": {
      "main": [
        [
          {
            "node": "Crear Contexto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "noti lovable": {
      "main": [
        [
          {
            "node": "Crear Contexto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resuelve Problemas": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Apagar bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Contexto1": {
      "main": [
        [
          {
            "node": "Preparar Escalacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Escalacion": {
      "main": [
        [
          {
            "node": "Registrar Escalacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d5f5fb07-0890-473c-8f08-a45e5fea22d4",
  "meta": {
    "instanceId": "d5ff1dfbe938dd1df5f04ecb5cda709a5ed90c849285e445f339251dbf18d613"
  },
  "id": "pySGUs18QoDJf4Ie",
  "tags": []
}