docs/n8n/[MVP] Preguntas.json
{
  "name": "[MVP] Preguntas",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "pregunta"
            },
            {
              "name": "telefono"
            },
            {
              "name": "session_id"
            }
          ]
        }
      },
      "id": "afd2708d-29c2-4df5-be0c-0dfcce71b210",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        176,
        272
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').first().json.pregunta }}",
        "options": {
          "systemMessage": "Eres el asistente de información de La Isla Pizzería\n\nResponde en español claro y breve. Máximo 4 frases. Texto plano. Puedes usar bullets simples con \"•\" si enumeras varias opciones.\n\nTOOLS:\n- Preguntas: preguntas frecuentes del restaurante.\n- Menu: catálogo actual del menú con categorías, productos, variantes/tamaños, extras y personalización.\n- Horarios: horario regular del local.\n\nREGLAS:\n1. Nunca inventes precios, ingredientes, tamaños, variantes ni extras.\n2. Si preguntan por menú, categorías, productos, variantes/tamaños, extras o personalización, usa Menu.\n3. Si preguntan por métodos de pago, delivery, cómo pedir o FAQs, usa Preguntas.\n4. Si preguntan por horarios o apertura, usa Horarios.\n5. Si no hay información exacta, dilo con honestidad.\n6. No tomes pedidos. Si el cliente quiere pedir, di: \"En el chat principal te ayudo con el pedido.\"\n7. Si hay varias opciones, ordénalas y muéstralas claramente.\n8. Si la pregunta es ambigua, haz una sola pregunta aclaratoria."
        }
      },
      "id": "1d188c0d-41e6-4c4f-89b2-2208cdd1a82e",
      "name": "Agente Preguntas",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        272
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "b02d8b26-d60c-4d30-a1e3-927dd8f737fd",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        496
      ],
      "credentials": {
        "openAiApi": {
          "id": "MjjYLoIl0GDk3Exw",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').first().json.telefono }}",
        "contextWindowLength": 10
      },
      "id": "fd2fab54-fe2c-419f-a307-6d2da36d7454",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        480,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      }
    },
    {
      "parameters": {
        "content": "## MVP – Preguntas v2\n\nSubflujo: responde preguntas de menú, precios, FAQs.\n\n**Tools:**\n- vw_preguntas (FAQs del restaurante)\n- vw_menu (catálogo con precios, variantes, extras y alérgenos)\n\nNO toma pedidos.",
        "height": 280,
        "width": 600,
        "color": 4
      },
      "id": "0ff6309f-cd67-4513-ae75-b605a1f14367",
      "name": "SN_0a5581",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Base de conocimiento del restaurante: FAQs sobre delivery, metodos de pago, horarios, zona de cobertura, como hacer pedidos, politicas y preguntas frecuentes. Usala para responder preguntas generales sobre el restaurante. Devuelve la pregunta, respuesta y palabras clave.",
        "operation": "executeQuery",
        "query": "SELECT pregunta, respuesta FROM public.faqs WHERE restaurante_id = 1 ORDER BY COALESCE(orden,0), pregunta",
        "options": {}
      },
      "id": "0c2fba30-3f39-496c-a0bb-976cb9835992",
      "name": "Preguntas",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        624,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Catálogo completo del restaurante: categorías, productos, variantes o tamaños, precios, descripciones y extras disponibles. Úsala para responder qué hay en el menú, cuánto cuesta un producto, qué variantes/tamaños existen, qué extras o personalizaciones permite y qué categoría corresponde.",
        "operation": "executeQuery",
        "query": "SELECT categoria, producto, descripcion, variante AS tamano, precio, extras_disponibles, disponible, tags, is_pizza, producto_display\nFROM public.fn_menu_lookup(NULL)\nORDER BY categoria, producto, precio",
        "options": {}
      },
      "id": "727fbce1-08a2-4d82-ab43-98a4dec8d4f7",
      "name": "Menu",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        768,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT dia, disponible, apertura_1, cierre_1, apertura_2, cierre_2\nFROM public.horarios\nWHERE restaurante_id = 1\nORDER BY CASE lower(dia) WHEN 'lunes' THEN 1 WHEN 'martes' THEN 2 WHEN 'miércoles' THEN 3 WHEN 'miercoles' THEN 3 WHEN 'jueves' THEN 4 WHEN 'viernes' THEN 5 WHEN 'sábado' THEN 6 WHEN 'sabado' THEN 6 WHEN 'domingo' THEN 7 ELSE 99 END",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        704,
        640
      ],
      "id": "4e568069-f8c7-46fa-b76a-6323edf9ea00",
      "name": "Horarios",
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Agente Preguntas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Preguntas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Preguntas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Preguntas": {
      "ai_tool": [
        [
          {
            "node": "Agente Preguntas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Menu": {
      "ai_tool": [
        [
          {
            "node": "Agente Preguntas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Horarios": {
      "ai_tool": [
        [
          {
            "node": "Agente Preguntas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "469cd8b8-96a3-42e3-ad44-e828b1a5225d",
  "meta": {
    "instanceId": "d5ff1dfbe938dd1df5f04ecb5cda709a5ed90c849285e445f339251dbf18d613"
  },
  "id": "pZNufuNN7dzq46Os",
  "tags": [
    {
      "updatedAt": "2026-03-04T02:24:25.093Z",
      "createdAt": "2026-03-04T02:24:25.093Z",
      "id": "FE12HW9lZW84kfFV",
      "name": "MVP"
    }
  ]
}