docs/n8n/[MVP] Cron Expirar Pedidos.json
{
  "name": "[MVP] Cron Expirar Pedidos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Cada 5 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Expira carritos en_curso cuyo updated_at superó cart_expiry_minutes.\n-- Solo afecta estado 'en_curso' (no 'recibido' — ese se expira manualmente desde el dashboard).\n-- El trigger trg_log_estado_pedido registra automáticamente la transición en pedido_estado_log\n-- con origen='trigger'. Para sobrescribir el origen a 'cron', usamos SET LOCAL.\nWITH cfg AS (\n  SELECT\n    p.id                                           AS pedido_id,\n    p.restaurante_id,\n    COALESCE(\n      (SELECT config_value::int\n       FROM   public.restaurante_config rc\n       WHERE  rc.config_key     = 'cart_expiry_minutes'\n         AND  rc.restaurante_id = p.restaurante_id\n       LIMIT 1),\n      60\n    ) AS cart_expiry_minutes\n  FROM public.pedidos p\n  WHERE p.estado = 'en_curso'\n),\ncandidatos AS (\n  SELECT c.pedido_id\n  FROM   cfg c\n  JOIN   public.pedidos p ON p.id = c.pedido_id\n  WHERE  COALESCE(p.updated_at, p.created_at) < NOW() - (c.cart_expiry_minutes * INTERVAL '1 minute')\n)\nUPDATE public.pedidos\nSET\n  estado     = 'expirado',\n  updated_at = NOW()\nWHERE id IN (SELECT pedido_id FROM candidatos)\nRETURNING id, pedido_codigo, telefono, restaurante_id, updated_at",
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Expirar Carritos en_curso",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-rows",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "¿Hubo expiraciones?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepara el log de lo que se expiró para debugging y auditoría\nconst rows = $input.all().map(i => i.json);\nconst resumen = rows.map(r =>\n  `#${r.id} ${r.pedido_codigo || 'sin-codigo'} (rest:${r.restaurante_id})`\n).join(', ');\n\nconsole.log(`[Cron Expirar Pedidos] ${rows.length} pedido(s) expirado(s): ${resumen}`);\n\nreturn [{\n  json: {\n    total_expirados: rows.length,\n    pedidos:         rows.map(r => ({\n      id:             r.id,\n      pedido_codigo:  r.pedido_codigo,\n      restaurante_id: r.restaurante_id,\n      telefono:       r.telefono,\n      expirado_at:    r.updated_at\n    }))\n  }\n}];"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Log Expiraciones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 220]
    },
    {
      "parameters": {
        "jsCode": "// No hubo pedidos expirados en esta ejecución — noop silencioso\nconsole.log('[Cron Expirar Pedidos] Sin pedidos que expirar.');\nreturn [{ json: { total_expirados: 0 } }];"
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Sin Cambios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400]
    }
  ],
  "connections": {
    "Cada 5 minutos": {
      "main": [
        [{ "node": "Expirar Carritos en_curso", "type": "main", "index": 0 }]
      ]
    },
    "Expirar Carritos en_curso": {
      "main": [
        [{ "node": "¿Hubo expiraciones?", "type": "main", "index": 0 }]
      ]
    },
    "¿Hubo expiraciones?": {
      "main": [
        [{ "node": "Log Expiraciones", "type": "main", "index": 0 }],
        [{ "node": "Sin Cambios",      "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-01T00:00:00.000Z",
  "versionId": "cron-expirar-v1"
}
