docs/n8n/[MVP] Perfil Cliente.json
{
  "name": "[MVP] Perfil Cliente",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "accion"
            },
            {
              "name": "telefono"
            },
            {
              "name": "nombre"
            },
            {
              "name": "direccion"
            },
            {
              "name": "tipo_despacho"
            }
          ]
        }
      },
      "id": "ad4c73df-e0c5-49ad-a9ff-2a056b40bbdf",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        784,
        -240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.fn_upsert_usuario_perfil(\n  '{{ String($('When Executed by Another Workflow').first().json.telefono || '').replace(/'/g, \"''\") }}',\n  {{ (() => { const v = String($('When Executed by Another Workflow').first().json.nombre || '').trim(); return v ? \"'\" + v.replace(/'/g, \"''\") + \"'\" : 'NULL'; })() }},\n  {{ (() => { const v = String($('When Executed by Another Workflow').first().json.direccion || '').trim(); return v ? \"'\" + v.replace(/'/g, \"''\") + \"'\" : 'NULL'; })() }},\n  {{ (() => { const v = String($('When Executed by Another Workflow').first().json.tipo_despacho || '').trim(); return v ? \"'\" + v.replace(/'/g, \"''\") + \"'\" : 'NULL'; })() }}\n)",
        "options": {}
      },
      "id": "43ca376e-61f4-4e1e-872a-e5142c8172e3",
      "name": "Guardar Perfil",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1024,
        -240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const row = $json || {};\nconst trigger = $('When Executed by Another Workflow').first().json || {};\nconst nombre = row.nombre || trigger.nombre || null;\nconst direccion = row.direccion_frecuente || trigger.direccion || null;\nlet respuesta = 'Perfil actualizado.';\nif (nombre && direccion && ['delivery','domicilio'].includes(String(trigger.tipo_despacho || '').toLowerCase())) respuesta = `Perfecto, lo dejo a nombre de ${nombre} y guardo esta dirección para futuras entregas.`;\nelse if (nombre) respuesta = `Perfecto, lo dejo a nombre de ${nombre}.`;\nelse if (direccion) respuesta = 'Perfecto, guardo esta dirección para futuras entregas.';\nreturn [{json:{success:true,respuesta_agente:respuesta,id:row.id || null,nombre,direccion_frecuente:direccion,updated_name:row.updated_name || false,updated_address:row.updated_address || false}}];"
      },
      "id": "463ea51a-63cb-4e78-ae62-1945d0d3d4f2",
      "name": "Respuesta Perfil",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -240
      ],
      "onError": "continueErrorOutput"
    },
    {
      "id": "error-sistema-perfil-cliente-001",
      "name": "Respuesta Error Sistema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        400
      ],
      "parameters": {
        "jsCode": "// Nodo de catch global para Perfil Cliente\n// Se activa cuando cualquier nodo upstream falla (onError: continueErrorOutput)\nconst err = $input.first();\nconst origen = err?.json?.node || err?.json?.source || 'nodo desconocido';\nconst detalle = err?.json?.message || err?.json?.error || 'sin detalle';\nconst telefono = $('When Executed by Another Workflow').first().json?.telefono || '';\n\nreturn [{\n  json: {\n    success: false,\n    error: true,\n    tipo: 'sistema',\n    subflujo: 'Perfil Cliente',\n    mensaje: `Error técnico en Perfil Cliente (${origen}): ${detalle}`,\n    puede_continuar: false,\n    mutar_db: false,\n    telefono: telefono,\n    problema_escalacion: `Error técnico en Perfil Cliente (${origen}): ${detalle}`\n  }\n}];"
      }
    },
    {
      "id": "registrar-escalacion-perfil-cliente-001",
      "name": "Registrar Escalacion Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        900,
        400
      ],
      "continueOnFail": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.escalaciones\n  (restaurante_id, telefono, problema, contexto, conversation_id, account_id, contact_id, estado)\nVALUES (\n  1,\n  '{{ $input.first().json.telefono.replace(/'/g, \"''\") }}',\n  '{{ $input.first().json.problema_escalacion.replace(/'/g, \"''\") }}',\n  '{\"subflujo\": \"Perfil Cliente\", \"tipo\": \"error_sistema\"}'::jsonb,\n  '', '', '', 'pendiente'\n)",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "BqJnEVb3yFVjGaAz",
          "name": "Postgres La Isla"
        }
      }
    },
    {
      "id": "devolver-error-perfil-cliente-001",
      "name": "Devolver Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ],
      "parameters": {
        "jsCode": "// Reenviar la respuesta de error al Director sin modificar\nreturn [$(\"Respuesta Error Sistema\").first()];"
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Guardar Perfil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Perfil": {
      "main": [
        [
          {
            "node": "Respuesta Perfil",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Perfil": {
      "main": [
        [],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Error Sistema": {
      "main": [
        [
          {
            "node": "Registrar Escalacion Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Escalacion Error": {
      "main": [
        [
          {
            "node": "Devolver Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9b316ce4-bdc1-4baf-a5c1-fbb17c891b3d",
  "meta": {
    "instanceId": "d5ff1dfbe938dd1df5f04ecb5cda709a5ed90c849285e445f339251dbf18d613"
  },
  "id": "WgxXy1ciOAaKd0X7",
  "tags": []
}