docs/n8n/[MVP] Despacho.json
{
  "name": "[MVP] Despacho",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"tipo\": \"delivery\",\n  \"direccion_texto\": \"Av. Providencia 1234\",\n  \"codigo_postal\": \"7500000\",\n  \"lat\": null,\n  \"lng\": null,\n  \"telefono\": \"+56912345678\",\n  \"session_id\": \"abc-123-def-456\",\n  \"pedido_id\": 58\n}"
      },
      "id": "a3295141-0350-41bc-8745-f120a09fe426",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1744,
        512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM public.fn_select_pedido_reutilizable(\n  '{{ $('When Executed by Another Workflow').first().json.telefono }}',\n  '{{ $('When Executed by Another Workflow').first().json.session_id }}',\n  '{{ String($('When Executed by Another Workflow').first().json.pedido_id || '').replace(/'/g, \"''\") }}',\n  false\n)",
        "options": {}
      },
      "id": "c62e6613-fde8-43cf-8679-deffdc771e33",
      "name": "Obtener Pedido Activo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1520,
        512
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-tipo",
              "leftValue": "={{ ['retiro','retirar','recoger','local','para llevar','pickup'].includes(String($('When Executed by Another Workflow').first().json.tipo || '').toLowerCase().trim()) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "47303cdb-3dd5-4ed7-8c1f-eeaff0d89c67",
      "name": "¿Es Retiro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1296,
        512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT delivery_zone_id, zone_name, postal_code, fee, min_order_amount, estimated_minutes_min, estimated_minutes_max, is_active\nFROM public.delivery_zone\nWHERE is_active = true\n  AND (postal_code = '{{ (() => { const t = $('When Executed by Another Workflow').first().json; const src = [t.codigo_postal, t.direccion_texto].filter(Boolean).join(' '); const m = String(src).match(/\\b\\d{5}\\b/); return m ? m[0] : ''; })() }}'\n       OR lower(zone_name) = lower('{{ (() => { const t = $('When Executed by Another Workflow').first().json; const txt = String([t.codigo_postal, t.direccion_texto].filter(Boolean).join(' ')).toLowerCase(); if (txt.includes('arrecife')) return 'Arrecife'; if (txt.includes('playa honda')) return 'Playa Honda'; if (txt.includes('taiche')) return 'Taiche'; return ''; })() }}'))\nLIMIT 1",
        "options": {}
      },
      "id": "66441eb3-2cbf-48e0-b9e7-d9c84855df90",
      "name": "Consultar Zona Delivery",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1072,
        608
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-zona",
              "leftValue": "={{ $json.delivery_zone_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c6ad3b76-7380-43d2-b76a-92a3f76491eb",
      "name": "¿Zona Encontrada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -848,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('When Executed by Another Workflow').first().json || {};\nconst pedido = $('Obtener Pedido Activo').first().json || {};\nconst zona = $('Consultar Zona Delivery').first().json || {};\n\nfunction money(v) {\n  return '€' + Number(v || 0).toFixed(2).replace('.', ',');\n}\n\nconst subtotal = Number(pedido.subtotal || 0);\nconst minimo = Number(zona.min_order_amount || 0);\nconst fee = Number(zona.fee || 0);\nconst total = subtotal + fee;\n\nconst base = {\n  pedido_id: pedido.id,\n  pedido_numero: pedido.pedido_numero,\n  pedido_codigo: pedido.pedido_codigo || null,\n  tipo_despacho: 'delivery',\n  direccion: trigger.direccion_texto || pedido.direccion || '',\n  codigo_postal: trigger.codigo_postal || zona.postal_code || '',\n  lat: (trigger.lat !== '' && trigger.lat != null) ? Number(trigger.lat) : (pedido.lat ?? null),\n  lng: (trigger.lng !== '' && trigger.lng != null) ? Number(trigger.lng) : (pedido.lng ?? null),\n  zona_nombre: zona.zone_name || null,\n  fee,\n  subtotal,\n  total,\n  tiempo_min: zona.estimated_minutes_min,\n  tiempo_max: zona.estimated_minutes_max,\n  telefono: trigger.telefono,\n  session_id: trigger.session_id\n};\n\nif (subtotal < minimo) {\n  return [{\n    json: {\n      ...base,\n      puede_continuar: false,\n      motivo: 'minimo_no_alcanzado',\n      delivery_pendiente_minimo: true,\n      respuesta_agente: `Mantengo delivery a ${base.direccion}. Tu pedido es de ${money(subtotal)} y el mínimo para esa zona es ${money(minimo)}. ¿Quieres agregar algo más para llegar al mínimo o prefieres pasar a retiro?`\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...base,\n    puede_continuar: true,\n    delivery_pendiente_minimo: false\n  }\n}];"
      },
      "id": "be529946-387a-41b2-a5f2-13e658e17288",
      "name": "Validar Mínimo y Calcular Total",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        512
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-continuar",
              "leftValue": "={{ $json.puede_continuar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0208563f-8d70-47e8-a0a9-d7d6d891b41a",
      "name": "¿Puede Continuar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pedidos\nSET\n  tipo_despacho = 'delivery',\n  direccion = '{{ String($json.direccion || '').replace(/''/g, \"''\") }}',\n  lat = {{ $json.lat !== null ? $json.lat : 'NULL' }},\n  lng = {{ $json.lng !== null ? $json.lng : 'NULL' }},\n  postal_code = NULLIF('{{ ($json.codigo_postal || '').replace(/'/g, \"'\") }}', ''),\n  costo_envio = {{ Number($json.fee || 0) }},\n  total = {{ Number($json.total || 0) }},\n  tiempo_estimado = COALESCE(\n    NULLIF((SELECT trim(config_value) FROM public.restaurante_config WHERE config_key = 'delivery_eta_text' LIMIT 1), ''),\n    (\n      COALESCE(NULLIF((SELECT trim(config_value) FROM public.restaurante_config WHERE config_key = 'delivery_eta_min_minutes' LIMIT 1), ''), '{{ Number($json.tiempo_min || 30) }}')\n      || '-' ||\n      COALESCE(NULLIF((SELECT trim(config_value) FROM public.restaurante_config WHERE config_key = 'delivery_eta_max_minutes' LIMIT 1), ''), '{{ Number($json.tiempo_max || 45) }}')\n      || ' min'\n    )\n  ),\n  updated_at = NOW()\nWHERE id = {{ $json.pedido_id }}\nRETURNING *,\n  (SELECT datos_bancarios FROM restaurante WHERE id = pedidos.restaurante_id LIMIT 1) AS datos_bancarios",
        "options": {}
      },
      "id": "1644432d-08ab-4cf2-b1d9-add53bdf2f78",
      "name": "Actualizar Pedido Delivery",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -176,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('When Executed by Another Workflow').first().json || {};\nconst pedido = $('Obtener Pedido Activo').first().json || {};\n\nreturn [{\n  json: {\n    pedido_id: pedido.id,\n    pedido_numero: pedido.pedido_numero,\n    pedido_codigo: pedido.pedido_codigo || null,\n    tipo_despacho: 'retiro',\n    fee: 0,\n    subtotal: Number(pedido.subtotal || 0),\n    total: Number(pedido.subtotal || 0),\n    telefono: trigger.telefono,\n    session_id: trigger.session_id\n  }\n}];"
      },
      "id": "7d3939bb-585c-475f-a8ff-07e96ae45d57",
      "name": "Preparar Retiro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        32
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pedidos\nSET\n  tipo_despacho = 'retiro',\n  direccion = NULL,\n  lat = NULL,\n  lng = NULL,\n  costo_envio = 0,\n  total = subtotal,\n  tiempo_estimado = COALESCE(\n    NULLIF((SELECT trim(config_value) FROM public.restaurante_config WHERE config_key = 'pickup_eta_text' LIMIT 1), ''),\n    (\n      COALESCE(NULLIF((SELECT trim(config_value) FROM public.restaurante_config WHERE config_key = 'pickup_eta_minutes' LIMIT 1), ''), '20')\n      || ' min'\n    )\n  ),\n  updated_at = NOW()\nWHERE id = {{ $json.pedido_id }}\nRETURNING *,\n  (SELECT datos_bancarios FROM restaurante WHERE id = pedidos.restaurante_id LIMIT 1) AS datos_bancarios",
        "options": {}
      },
      "id": "082506bb-ecd9-4a49-8b5d-de7117d9aee6",
      "name": "Actualizar Pedido Retiro",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -176,
        32
      ],
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const pedidoDB = $json || {};\nconst subtotal = Number(pedidoDB.subtotal || 0);\nconst tiempo = pedidoDB.tiempo_estimado || '20 min';\n\nfunction money(v) {\n  return '€' + Number(v || 0).toFixed(2).replace('.', ',');\n}\n\n// Finding 4: list available payment methods dynamically\nconst db = pedidoDB.datos_bancarios || null;\nlet opcionesPago = 'efectivo';\nif (db) opcionesPago += ' o transferencia bancaria';\n\nreturn [{\n  json: {\n    success: true,\n    tipo_despacho: 'retiro',\n    respuesta_agente: `Perfecto, tu pedido${pedidoDB.pedido_codigo ? ` ${pedidoDB.pedido_codigo}` : ''} será para retiro en el local. Tiempo estimado: ${tiempo}. El subtotal es ${money(subtotal)}. ¿Cómo quieres pagar? Puedes pagar en ${opcionesPago}.`,\n    pedido_id: pedidoDB.id,\n    pedido_numero: pedidoDB.pedido_numero,\n    pedido_codigo: pedidoDB.pedido_codigo || null,\n    subtotal,\n    costo_envio: 0,\n    total: subtotal,\n    tiempo_estimado: tiempo\n  }\n}];"
      },
      "id": "dd5d673b-531c-4a3d-aef5-5912d3dfe204",
      "name": "Respuesta Retiro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const pedidoDB = $json || {};\nconst fee = Number(pedidoDB.costo_envio || 0);\nconst subtotal = Number(pedidoDB.subtotal || 0);\nconst total = Number(pedidoDB.total || 0);\nconst tiempo = pedidoDB.tiempo_estimado || '30-45 min';\n\nfunction money(v) {\n  return '€' + Number(v || 0).toFixed(2).replace('.', ',');\n}\n\n// Finding 4: list available payment methods dynamically\nconst db = pedidoDB.datos_bancarios || null;\nlet opcionesPago = 'efectivo';\nif (db) opcionesPago += ' o transferencia bancaria';\n\nreturn [{\n  json: {\n    success: true,\n    tipo_despacho: 'delivery',\n    respuesta_agente: `Perfecto, mantengo delivery${pedidoDB.direccion ? ` a ${pedidoDB.direccion}` : ''}. El envío tiene un costo de ${money(fee)} y el tiempo estimado es ${tiempo}. El total con despacho es ${money(total)}. ¿Cómo quieres pagar? Puedes pagar en ${opcionesPago}.`,\n    pedido_id: pedidoDB.id,\n    pedido_numero: pedidoDB.pedido_numero,\n    pedido_codigo: pedidoDB.pedido_codigo || null,\n    subtotal,\n    costo_envio: fee,\n    total,\n    direccion: pedidoDB.direccion,\n    tiempo_estimado: tiempo\n  }\n}];"
      },
      "id": "7954a1e1-2448-4ce1-a9e2-69db2c4226ea",
      "name": "Respuesta Delivery OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('When Executed by Another Workflow').first().json || {};\nconst pedido = $('Obtener Pedido Activo').first().json || {};\n\nconst address  = String(trigger.direccion_texto || '').trim();\nconst cp       = String(trigger.codigo_postal   || '').trim();\nconst hasAddress = address.length > 0 || cp.length > 0;\n\nconst ZONAS_DISPONIBLES = ['Arrecife', 'Playa Honda', 'Taiche'];\nconst zonasList = ZONAS_DISPONIBLES.join(', ');\n\n// Detectar si el texto de la dirección ya menciona zona o CP de 5 dígitos\nconst addressLower = (address + ' ' + cp).toLowerCase();\nconst hasZoneHint  = ZONAS_DISPONIBLES.some(z => addressLower.includes(z.toLowerCase()))\n                   || /\\b\\d{5}\\b/.test(address + ' ' + cp);\n\nlet respuesta;\nlet motivo;\n\nif (!hasAddress) {\n  motivo    = 'sin_direccion';\n  respuesta = `Para delivery necesito tu dirección completa con zona o CP. `\n            + `Zonas disponibles: ${zonasList}. `\n            + `¿A qué dirección te lo enviamos? Ej: Calle Mayor 12, 3ºA, Arrecife.`;\n} else if (!hasZoneHint) {\n  motivo    = 'zona_no_identificada';\n  respuesta = `Recibí la dirección \"${address}\", pero necesito saber en qué zona está para calcular el envío. `\n            + `¿Es Arrecife, Playa Honda o Taiche?`;\n} else {\n  motivo    = 'fuera_de_cobertura';\n  respuesta = `Lo siento, no llegamos a \"${address || cp}\". `\n            + `Nuestras zonas de delivery son: ${zonasList}. `\n            + `¿Quieres cambiar la dirección o prefieres retiro en el local?`;\n}\n\nreturn [{\n  json: {\n    success: false,\n    motivo,\n    respuesta_agente: respuesta,\n    pedido_id:     pedido.id,\n    pedido_numero: pedido.pedido_numero,\n    pedido_codigo: pedido.pedido_codigo || null,\n    subtotal:      Number(pedido.subtotal || 0)\n  }\n}];"
      },
      "id": "a30f2fcf-b066-48b2-a27e-e31fe776ced5",
      "name": "Respuesta Fuera Cobertura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        992
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        512
      ],
      "id": "f706939c-e9e4-418b-aee6-73813639e539",
      "name": "Merge Respuesta Final"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.usuarios\nSET direccion_frecuente = '{{ String($('When Executed by Another Workflow').first().json.direccion_texto || '').replace(/'/g, \"''\") }}', updated_at = NOW()\nWHERE telefono = '{{ $('When Executed by Another Workflow').first().json.telefono }}'\n  AND lower('{{ $('When Executed by Another Workflow').first().json.tipo || '' }}') IN ('delivery','domicilio')\nRETURNING id, telefono, nombre, direccion_frecuente",
        "options": {}
      },
      "id": "56e5d845-8079-4c51-8495-e8be0b000920",
      "name": "Guardar Direccion Frecuente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        48,
        224
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pedidos\nSET\n  tipo_despacho = 'delivery',\n  direccion = '{{ String($json.direccion || '').replace(/'/g, \"''\") }}',\n  lat = {{ $json.lat !== null ? $json.lat : 'NULL' }},\n  lng = {{ $json.lng !== null ? $json.lng : 'NULL' }},\n  costo_envio = {{ Number($json.fee || 0) }},\n  total = {{ Number($json.total || 0) }},\n  tiempo_estimado = COALESCE(\n    NULLIF((SELECT trim(config_value) FROM public.restaurante_config WHERE config_key = 'delivery_eta_text' LIMIT 1), ''),\n    (\n      COALESCE(NULLIF((SELECT trim(config_value) FROM public.restaurante_config WHERE config_key = 'delivery_eta_min_minutes' LIMIT 1), ''), '{{ Number($json.tiempo_min || 30) }}')\n      || '-' ||\n      COALESCE(NULLIF((SELECT trim(config_value) FROM public.restaurante_config WHERE config_key = 'delivery_eta_max_minutes' LIMIT 1), ''), '{{ Number($json.tiempo_max || 45) }}')\n      || ' min'\n    )\n  ),\n  updated_at = NOW()\nWHERE id = {{ $json.pedido_id }}\nRETURNING *",
        "options": {}
      },
      "id": "24f255ec-2a06-4766-8a6f-5435ed931cd4",
      "name": "Persistir Delivery Pendiente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -176,
        704
      ],
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const pedidoDB = $json || {};\nconst trigger = $('When Executed by Another Workflow').first().json || {};\nconst zona = $('Consultar Zona Delivery').first().json || {};\n\nfunction money(v) {\n  return '€' + Number(v || 0).toFixed(2).replace('.', ',');\n}\n\nconst subtotal = Number(pedidoDB.subtotal || 0);\nconst fee = Number(pedidoDB.costo_envio || 0);\nconst minimo = Number(zona.min_order_amount || 0);\nconst totalEstimado = subtotal + fee;\nconst tiempo = pedidoDB.tiempo_estimado || '30-45 min';\n\nreturn [{\n  json: {\n    success: false,\n    motivo: 'minimo_no_alcanzado',\n    tipo_despacho: 'delivery',\n    respuesta_agente: `Mantengo delivery${pedidoDB.direccion ? ` a ${pedidoDB.direccion}` : ''}. Tu pedido va en ${money(subtotal)} y el mínimo para esa zona es ${money(minimo)}. Si llegas al mínimo, el total estimado con envío será ${money(totalEstimado)} y el tiempo estimado será ${tiempo}. ¿Quieres agregar algo más o prefieres pasar a retiro?`,\n    pedido_id: pedidoDB.id,\n    pedido_numero: pedidoDB.pedido_numero,\n    pedido_codigo: pedidoDB.pedido_codigo || null,\n    subtotal,\n    costo_envio: fee,\n    total_estimado: totalEstimado,\n    direccion: pedidoDB.direccion || trigger.direccion_texto || null,\n    tiempo_estimado: tiempo\n  }\n}];"
      },
      "id": "5c1133da-f2b8-4cd6-86d5-bfdf64714a90",
      "name": "Respuesta Mínimo Delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        608
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.usuarios\nSET direccion_frecuente = '{{ String($('When Executed by Another Workflow').first().json.direccion_texto || '').replace(/'/g, \"''\") }}', updated_at = NOW()\nWHERE telefono = '{{ $('When Executed by Another Workflow').first().json.telefono }}'\n  AND lower('{{ $('When Executed by Another Workflow').first().json.tipo || '' }}') IN ('delivery','domicilio')\nRETURNING id, telefono, nombre, direccion_frecuente",
        "options": {}
      },
      "id": "3a1f8804-eb0a-4c9a-9a44-cbd347ca556e",
      "name": "Guardar Direccion Frecuente Pendiente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        48,
        800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "error-sistema-despacho-001",
      "name": "Respuesta Error Sistema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ],
      "parameters": {
        "jsCode": "// Nodo de catch global para Despacho\n// Se activa cuando cualquier nodo upstream falla (onError: continueErrorOutput)\nconst err = $input.first();\nconst origen = err?.json?.node || err?.json?.source || 'nodo desconocido';\nconst detalle = err?.json?.message || err?.json?.error || 'sin detalle';\nconst telefono = $('When Executed by Another Workflow').first().json?.telefono || '';\n\nreturn [{\n  json: {\n    success: false,\n    error: true,\n    tipo: 'sistema',\n    subflujo: 'Despacho',\n    mensaje: `Error técnico en Despacho (${origen}): ${detalle}`,\n    puede_continuar: false,\n    mutar_db: false,\n    telefono: telefono,\n    problema_escalacion: `Error técnico en Despacho (${origen}): ${detalle}`\n  }\n}];"
      }
    },
    {
      "id": "registrar-escalacion-despacho-001",
      "name": "Registrar Escalacion Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        400
      ],
      "continueOnFail": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.escalaciones\n  (restaurante_id, telefono, problema, contexto, conversation_id, account_id, contact_id, estado)\nVALUES (\n  1,\n  '{{ $input.first().json.telefono.replace(/'/g, \"''\") }}',\n  '{{ $input.first().json.problema_escalacion.replace(/'/g, \"''\") }}',\n  '{\"subflujo\": \"Despacho\", \"tipo\": \"error_sistema\"}'::jsonb,\n  '', '', '', 'pendiente'\n)",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "BqJnEVb3yFVjGaAz",
          "name": "Postgres La Isla"
        }
      }
    },
    {
      "id": "devolver-error-despacho-001",
      "name": "Devolver Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        400
      ],
      "parameters": {
        "jsCode": "// Reenviar la respuesta de error al Director sin modificar\nreturn [$(\"Respuesta Error Sistema\").first()];"
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Obtener Pedido Activo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Pedido Activo": {
      "main": [
        [
          {
            "node": "¿Es Retiro?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Retiro?": {
      "main": [
        [
          {
            "node": "Preparar Retiro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultar Zona Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Zona Delivery": {
      "main": [
        [
          {
            "node": "¿Zona Encontrada?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Zona Encontrada?": {
      "main": [
        [
          {
            "node": "Validar Mínimo y Calcular Total",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Fuera Cobertura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Mínimo y Calcular Total": {
      "main": [
        [
          {
            "node": "¿Puede Continuar?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Puede Continuar?": {
      "main": [
        [
          {
            "node": "Actualizar Pedido Delivery",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Persistir Delivery Pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Pedido Delivery": {
      "main": [
        [
          {
            "node": "Respuesta Delivery OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar Direccion Frecuente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Retiro": {
      "main": [
        [
          {
            "node": "Actualizar Pedido Retiro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Pedido Retiro": {
      "main": [
        [
          {
            "node": "Respuesta Retiro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Retiro": {
      "main": [
        [
          {
            "node": "Merge Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Delivery OK": {
      "main": [
        [
          {
            "node": "Merge Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Fuera Cobertura": {
      "main": [
        [
          {
            "node": "Merge Respuesta Final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Persistir Delivery Pendiente": {
      "main": [
        [
          {
            "node": "Respuesta Mínimo Delivery",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar Direccion Frecuente Pendiente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Mínimo Delivery": {
      "main": [
        [
          {
            "node": "Merge Respuesta Final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Guardar Direccion Frecuente": {
      "main": [
        [],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Direccion Frecuente Pendiente": {
      "main": [
        [],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Error Sistema": {
      "main": [
        [
          {
            "node": "Registrar Escalacion Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Escalacion Error": {
      "main": [
        [
          {
            "node": "Devolver Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2cb97476-1443-4917-95fe-2c41f6a3087a",
  "meta": {
    "instanceId": "d5ff1dfbe938dd1df5f04ecb5cda709a5ed90c849285e445f339251dbf18d613"
  },
  "id": "iYQLJpXpfzSHYlZK",
  "tags": []
}