docs/n8n/[MVP] Pago.json
{
  "name": "[MVP] Pago",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"metodo\": \"transferencia\",\n  \"telefono\": \"+56912345678\",\n  \"session_id\": \"abc-123-def-456\",\n  \"pedido_id\": 58\n}"
      },
      "id": "950b6026-fa13-4a2b-82e7-e78adee933af",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -976,
        176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM public.fn_select_pedido_reutilizable(\n  '{{ $('When Executed by Another Workflow').first().json.telefono }}',\n  '{{ $('When Executed by Another Workflow').first().json.session_id }}',\n  '{{ String($('When Executed by Another Workflow').first().json.pedido_id || '').replace(/'/g, \"''\") }}',\n  false\n)",
        "options": {}
      },
      "id": "0eac27ca-b9fc-4c05-9748-8d3d24224566",
      "name": "Obtener Pedido con Total",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -736,
        176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-pedido",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4b1c52c-d97a-465a-982b-ea997d8c5aa7",
      "name": "¿Pedido Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-metodo",
              "leftValue": "={{ ['transferencia','transfer','bizum','online','pago online'].includes(String($('When Executed by Another Workflow').first().json.metodo || '').toLowerCase().trim()) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "838febb0-7d20-4a0e-92e5-5ca30aac5e0c",
      "name": "¿Es Transferencia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT datos_bancarios, direccion, moneda FROM restaurante WHERE id = 1 LIMIT 1",
        "options": {}
      },
      "id": "1a9d7836-be02-4b9b-be81-0603fdf61ff1",
      "name": "Obtener Datos Bancarios",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pedidos\nSET\n  metodo_pago = {{\n    String($(\"When Executed by Another Workflow\").first().json.metodo || \"\").toLowerCase().trim().includes(\"transfer\") ? \"'transferencia'\" :\n    String($(\"When Executed by Another Workflow\").first().json.metodo || \"\").toLowerCase().trim().includes(\"bizum\") ? \"'bizum'\" :\n    String($(\"When Executed by Another Workflow\").first().json.metodo || \"\").toLowerCase().trim().includes(\"online\") ? \"'online'\" :\n    (String($(\"When Executed by Another Workflow\").first().json.metodo || \"\").toLowerCase().trim().includes(\"tarjeta\") || String($(\"When Executed by Another Workflow\").first().json.metodo || \"\").toLowerCase().trim().includes(\"card\")) ? \"'tarjeta'\" :\n    \"'efectivo'\"\n  }},\n  estado = 'recibido',\n  estado_pago = 'pendiente',\n  updated_at = NOW()\nWHERE id = {{ $(\"Obtener Pedido con Total\").first().json.id }}\nRETURNING *",
        "options": {}
      },
      "id": "ce6c8bba-826c-4220-9c54-fa44d1996947",
      "name": "Registrar Método y Estado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        224,
        144
      ],
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pedidoDB = $json || {};\nconst trigger = (() => { try { return $(\"When Executed by Another Workflow\").first().json || {}; } catch { return {}; } })();\nconst datosRest = (() => { try { return $(\"Obtener Datos Bancarios\").first().json || {}; } catch { return {}; } })();\n\nfunction price(v) {\n  return \"€\" + Number(v || 0).toFixed(2).replace(\".\", \",\");\n}\n\nconst rawMetodo = String(trigger.metodo || \"\").toLowerCase().trim();\nconst metodo = rawMetodo.includes(\"transfer\") ? \"transferencia\"\n  : rawMetodo.includes(\"bizum\") ? \"bizum\"\n  : rawMetodo.includes(\"online\") ? \"online\"\n  : (rawMetodo.includes(\"tarjeta\") || rawMetodo.includes(\"card\")) ? \"tarjeta\"\n  : \"efectivo\";\n\nlet items = [];\ntry {\n  items = typeof pedidoDB.items === \"string\" ? JSON.parse(pedidoDB.items) : (pedidoDB.items || []);\n} catch {\n  items = [];\n}\n\nconst itemsTexto = items.length\n  ? items.map(i => `${Number(i.cantidad || 1)}x ${i.nombre}`).join(\", \")\n  : \"sin detalle disponible\";\n\nconst subtotal    = Number(pedidoDB.subtotal || 0);\nconst total       = Number(pedidoDB.total || 0);\nconst costoEnvio  = Number(pedidoDB.costo_envio || 0);\nconst tiempo      = pedidoDB.tiempo_estimado ? ` Tiempo estimado: ${pedidoDB.tiempo_estimado}.` : \"\";\n\nconst despachoTexto = String(pedidoDB.tipo_despacho || \"\") === \"delivery\"\n  ? `Delivery a ${pedidoDB.direccion}. Envío: ${price(costoEnvio)}.${tiempo}`\n  : `Retiro en el local${datosRest.direccion ? ` (${datosRest.direccion})` : \"\"}.${tiempo}`;\n\nconst codigoTexto = pedidoDB.pedido_codigo ? `Tu código de pedido es *${pedidoDB.pedido_codigo}*.` : \"\";\n\nlet instrucciones = \"\";\nif (metodo === \"transferencia\") {\n  const db = datosRest.datos_bancarios || null;\n  instrucciones = `Tu pedido ha sido REGISTRADO y está pendiente de confirmación por el restaurante. Para agilizar el proceso, transfiere ${price(total)}`;\n  if (db) {\n    instrucciones += \" a:\\n\";\n    if (db.banco)   instrucciones += `🏦 Banco: ${db.banco}\\n`;\n    if (db.titular) instrucciones += `👤 Titular: ${db.titular}\\n`;\n    if (db.cuenta)  instrucciones += `🔢 Cuenta: ${db.cuenta}\\n`;\n    if (db.alias)   instrucciones += `📲 Alias: ${db.alias}\\n`;\n    instrucciones += \"Envíanos el comprobante por aquí y el restaurante confirmará tu pedido.\";\n  } else {\n    instrucciones += \" y envíanos el comprobante. El restaurante confirmará tu pedido al verificarlo.\";\n  }\n} else if (metodo === \"efectivo\") {\n  instrucciones = `Pagarás en efectivo por ${price(total)}.`;\n} else if (metodo === \"tarjeta\") {\n  instrucciones = `El pago será con tarjeta por ${price(total)}.`;\n} else if (metodo === \"bizum\") {\n  instrucciones = `El pago será por Bizum por ${price(total)}.`;\n} else {\n  instrucciones = `El pago será online por ${price(total)}.`;\n}\n\nconst resumenItems = `${itemsTexto}. ${despachoTexto} Método de pago: ${metodo}. Subtotal: ${price(subtotal)}. Total: ${price(total)}.`;\nconst respuesta = [codigoTexto, resumenItems, instrucciones].filter(Boolean).join(\" \").replace(/  +/g, \" \").trim();\n\nreturn [{\n  json: {\n    success: true,\n    respuesta_agente: respuesta,\n    pedido_id: pedidoDB.id,\n    pedido_numero: pedidoDB.pedido_numero,\n    pedido_codigo: pedidoDB.pedido_codigo || null,\n    total,\n    subtotal,\n    metodo_pago: metodo,\n    estado: pedidoDB.estado || \"recibido\",\n    estado_pago: pedidoDB.estado_pago || \"pendiente\",\n    tipo_despacho: pedidoDB.tipo_despacho || null,\n    tiempo_estimado: pedidoDB.tiempo_estimado || null\n  }\n}];"
      },
      "id": "8929a5f0-a51e-450f-a270-8964c36d7bc4",
      "name": "Generar Resumen Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Sin pedido activo\nreturn [{\n  json: {\n    success: false,\n    respuesta_agente: 'No encontré un pedido activo para tu número. ¿Quieres hacer un pedido nuevo?',\n    pedido_id: null\n  }\n}];"
      },
      "id": "7d7b66e9-909a-47f7-984a-767ff0becba7",
      "name": "Error Sin Pedido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        336
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        736,
        272
      ],
      "id": "c823e2e5-9814-4646-a590-a78199357d70",
      "name": "Merge Respuesta Final"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Obtener Pedido con Total",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Pedido con Total": {
      "main": [
        [
          {
            "node": "¿Pedido Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Pedido Válido?": {
      "main": [
        [
          {
            "node": "¿Es Transferencia?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Sin Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Transferencia?": {
      "main": [
        [
          {
            "node": "Obtener Datos Bancarios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Método y Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Datos Bancarios": {
      "main": [
        [
          {
            "node": "Registrar Método y Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Método y Estado": {
      "main": [
        [
          {
            "node": "Generar Resumen Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Resumen Final": {
      "main": [
        [
          {
            "node": "Merge Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Sin Pedido": {
      "main": [
        [
          {
            "node": "Merge Respuesta Final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8d26b1e6-7da3-4395-8964-73791bc8235f",
  "meta": {
    "instanceId": "d5ff1dfbe938dd1df5f04ecb5cda709a5ed90c849285e445f339251dbf18d613"
  },
  "id": "TeL7JQMi9eqxaluk",
  "tags": []
}