docs/n8n/[MVP] Pedidos Cliente.json
{
  "name": "[MVP] Pedidos Cliente",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "accion"
            },
            {
              "name": "telefono"
            },
            {
              "name": "referencia"
            }
          ]
        }
      },
      "id": "84367824-2eb4-4c29-89c5-c473cc285115",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ ['resolver','consultar'].includes(String($('When Executed by Another Workflow').first().json.accion || 'listar_modificables')) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e0dd7c44-c5c1-4dcc-81d8-9d906842143b",
      "name": "¿Resolver?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.fn_listar_pedidos_modificables('{{ $('When Executed by Another Workflow').first().json.telefono }}') WHERE es_modificable ORDER BY updated_at DESC LIMIT 5",
        "options": {}
      },
      "id": "d6416da1-24bb-4a38-91b1-a4eec091d0f5",
      "name": "Listar Modificables",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM public.fn_resolver_pedido_referencia(\n  '{{ $('When Executed by Another Workflow').first().json.telefono }}',\n  '{{ String($('When Executed by Another Workflow').first().json.referencia || '').replace(/'/g, \"''\") }}'\n)",
        "options": {}
      },
      "id": "539fa92f-559e-407f-a7be-73db0814391f",
      "name": "Resolver Pedido",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        0,
        192
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all().map(i => i.json).filter(x => x && Object.keys(x).length);\nif (!all.length) {\n  return [{json:{success:false,respuesta_agente:'No encontré pedidos modificables vigentes para tu número.', pedidos:[]}}];\n}\nif (all.length === 1) {\n  const p = all[0];\n  return [{\n    json: {\n      success: true,\n      seleccion_requerida: false,\n      pedido_id: p.pedido_id,\n      pedido_codigo: p.pedido_codigo,\n      respuesta_agente: `Puedo modificar el pedido ${p.pedido_codigo}. ¿Qué cambio quieres hacer?`,\n      pedido: p\n    }\n  }];\n}\nconst texto = all.map(p => `${p.pedido_codigo} (${p.tipo_despacho || 'sin despacho'}, total €${Number(p.total || 0).toFixed(2).replace('.',',')})`).join(', ');\nreturn [{\n  json: {\n    success: true,\n    seleccion_requerida: true,\n    pedidos: all,\n    respuesta_agente: `Tienes varios pedidos aún modificables: ${texto}. ¿Cuál quieres modificar?`\n  }\n}];"
      },
      "id": "75a8ef21-2496-4ca8-9f42-a848fd71c502",
      "name": "Respuesta Lista",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $json || {};\nconst trigger = $('When Executed by Another Workflow').first().json || {};\nconst accion = String(trigger.accion || 'resolver').toLowerCase().trim();\n\nfunction money(v) {\n  return '€' + Number(v || 0).toFixed(2).replace('.', ',');\n}\n\nlet items = [];\ntry {\n  items = Array.isArray(p.items) ? p.items : JSON.parse(p.items || '[]');\n} catch {\n  items = [];\n}\nconst itemsTexto = items.length ? items.map(i => `${Number(i.cantidad || 1)}x ${i.nombre}`).join(', ') : 'sin detalle disponible';\nconst tiempo = p.tiempo_estimado ? ` Tiempo estimado: ${p.tiempo_estimado}.` : '';\nconst despacho = p.tipo_despacho === 'delivery'\n  ? `Delivery${p.direccion ? ` a ${p.direccion}` : ''}.`\n  : p.tipo_despacho === 'retiro'\n    ? 'Retiro en el local.'\n    : 'Despacho aún no definido.';\nconst pago = p.metodo_pago ? ` Pago: ${p.metodo_pago}.` : '';\n\nif (!p.pedido_id) {\n  return [{json:{success:false,respuesta_agente:'No pude identificar ese pedido. Envíame el código exacto, por ejemplo 260418-1006.'}}];\n}\n\nif (accion === 'consultar') {\n  return [{\n    json: {\n      success: true,\n      seleccion_requerida: false,\n      pedido_id: p.pedido_id,\n      pedido_codigo: p.pedido_codigo,\n      es_modificable: Boolean(p.es_modificable),\n      respuesta_agente: `El pedido ${p.pedido_codigo} lleva ${itemsTexto}. Estado: ${p.estado}. ${despacho} Total: ${money(p.total || 0)}.${tiempo}${pago}`.replace(/\\s+/g, ' ').trim(),\n      pedido: p\n    }\n  }];\n}\n\nif (!p.es_modificable) {\n  return [{\n    json: {\n      success: false,\n      derivar_humano: true,\n      motivo_derivacion: 'ventana_modificacion_expirada',\n      seleccion_requerida: false,\n      pedido_id: p.pedido_id,\n      pedido_codigo: p.pedido_codigo,\n      es_modificable: false,\n      respuesta_agente: `El pedido ${p.pedido_codigo} ya no puede modificarse (ventana de cambios expirada). Derivar a operador humano.`,\n      pedido: p\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    seleccion_requerida: false,\n    pedido_id: p.pedido_id,\n    pedido_codigo: p.pedido_codigo,\n    es_modificable: true,\n    respuesta_agente: `Perfecto, trabajaré sobre el pedido ${p.pedido_codigo}. ¿Qué cambio quieres hacer?`,\n    pedido: p\n  }\n}];"
      },
      "id": "bfaaad60-d5a9-474c-9fe5-4c59d6797a81",
      "name": "Respuesta Resolver",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "¿Resolver?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Resolver?": {
      "main": [
        [
          {
            "node": "Resolver Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Listar Modificables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Modificables": {
      "main": [
        [
          {
            "node": "Respuesta Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver Pedido": {
      "main": [
        [
          {
            "node": "Respuesta Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2fa5ee32-d185-43ce-b003-f121b2c262d2",
  "meta": {
    "instanceId": "d5ff1dfbe938dd1df5f04ecb5cda709a5ed90c849285e445f339251dbf18d613"
  },
  "id": "TeJyG2pvWSMkQbAw",
  "tags": []
}