docs/n8n/[MVP] Apertura.json
{
  "name": "[MVP] Apertura",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "accion"
            },
            {
              "name": "items"
            },
            {
              "name": "telefono"
            },
            {
              "name": "session_id"
            },
            {
              "name": "pedido_id"
            },
            {
              "name": "usuario_id"
            },
            {
              "name": "forzar_pedido_nuevo"
            }
          ]
        }
      },
      "id": "81410df5-14a4-4287-b871-cfa07c290703",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -672,
        80
      ],
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM public.fn_select_pedido_reutilizable(\n  '{{ $('When Executed by Another Workflow').first().json.telefono }}',\n  '{{ $('When Executed by Another Workflow').first().json.session_id }}',\n  '{{ String($('When Executed by Another Workflow').first().json.pedido_id || '').replace(/'/g, \"''\") }}',\n  {{ ['true', true, '1', 1].includes($('When Executed by Another Workflow').first().json.forzar_pedido_nuevo) ? 'true' : 'false' }}\n)",
        "options": {}
      },
      "id": "f24c63f7-55fa-4b26-83ef-394cd7288d7c",
      "name": "Buscar Pedido Activo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -448,
        80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5928a794-4c94-4a21-973a-c15dcd652781",
              "leftValue": "={{ Number($json.id || 0) > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        80
      ],
      "id": "30b57b8b-1a58-4c5d-8448-1c7d8325242e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT public.fn_next_pedido_numero() AS siguiente_numero",
        "options": {}
      },
      "id": "143eb5ef-20de-4e00-b393-9597f2adc27a",
      "name": "Obtener Siguiente Número",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        80,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pedidos (\n  restaurante_id, usuario_id, telefono, session_id, session_started_at, pedido_numero, items, subtotal, total, estado, created_at, updated_at\n) VALUES (\n  1,\n  COALESCE(\n    CASE WHEN regexp_replace('{{ $('When Executed by Another Workflow').item.json.usuario_id || '' }}', '[^0-9]', '', 'g') <> '' THEN regexp_replace('{{ $('When Executed by Another Workflow').item.json.usuario_id || '' }}', '[^0-9]', '', 'g')::int ELSE NULL END,\n    (SELECT id FROM usuarios WHERE telefono = '{{ $('When Executed by Another Workflow').item.json.telefono }}' LIMIT 1)\n  ),\n  '{{ $('When Executed by Another Workflow').item.json.telefono }}',\n  '{{ $('When Executed by Another Workflow').item.json.session_id }}',\n  NOW(),\n  {{ $json.siguiente_numero }},\n  '[]'::jsonb, 0, 0, 'en_curso', NOW(), NOW()\n) RETURNING *",
        "options": {}
      },
      "id": "583fe91b-8edb-4bb6-a8bb-44604cf0763b",
      "name": "Crear Pedido Nuevo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        224,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const datos = $('Preparar Datos').first().json || {};\nconst menuRows = $input.all().map(i => i.json || {});\n\nfunction normalize(v) {\n  return String(v || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction tokenize(v) {\n  return normalize(v)\n    .split(' ')\n    .map(x => x.trim())\n    .filter(Boolean)\n    .filter(x => !['una','uno','un','de','del','con','y','la','el','los','las','para','al','a','por','favor'].includes(x));\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction toNumber(v, d = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : d;\n}\n\nfunction dice(a, b) {\n  a = normalize(a);\n  b = normalize(b);\n  if (!a || !b) return 0;\n  if (a === b) return 1;\n  const bigrams = s => {\n    const out = [];\n    for (let i = 0; i < s.length - 1; i++) out.push(s.slice(i, i + 2));\n    return out;\n  };\n  const ab = bigrams(a);\n  const bb = bigrams(b);\n  if (!ab.length || !bb.length) return 0;\n  const counts = new Map();\n  for (const x of ab) counts.set(x, (counts.get(x) || 0) + 1);\n  let hits = 0;\n  for (const x of bb) {\n    const c = counts.get(x) || 0;\n    if (c > 0) {\n      hits += 1;\n      counts.set(x, c - 1);\n    }\n  }\n  return (2 * hits) / (ab.length + bb.length);\n}\n\nfunction normalizeRequest(v) {\n  return normalize(v)\n    .replace(/\\b4 quesos\\b/g, 'cuatro quesos')\n    .replace(/\\bpeperoni\\b/g, 'pepperoni')\n    .replace(/\\bcocacola\\b/g, 'coca cola')\n    .replace(/\\bbbq pollo\\b/g, 'barbacoa pollo')\n    .replace(/\\bbbq\\b/g, 'barbacoa')\n    .replace(/\\bburger\\b/g, 'hamburguesa')\n    .replace(/\\bespagueti\\b/g, 'espaguetis')\n    .replace(/\\bspaghetti\\b/g, 'espaguetis')\n    .replace(/\\bbolonesa\\b/g, 'bolognesa')\n    .replace(/\\bclasica\\b/g, 'clasica')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction detectVariant(req) {\n  const t = normalizeRequest(req);\n  const variants = [\n    'unica','única','personal','mediana','familiar','estandar','estándar',\n    'lata','lata 330 ml','330 ml','botella','1 5 l','1.5 l','500 ml','sin gas','con gas'\n  ];\n  const found = variants.find(v => normalize(v) && t.includes(normalize(v)));\n  return found ? normalize(found) : null;\n}\n\nfunction baseProductName(row) {\n  const raw = String(row.producto || row.nombre || '').trim();\n  const fromNombre = String(row.nombre || '').split(' - ')[0].trim();\n  return fromNombre || raw;\n}\n\nfunction rowVariant(row) {\n  return normalize(row.variante || '');\n}\n\nfunction rowBase(row) {\n  return normalize(baseProductName(row));\n}\n\nfunction buildRowText(row) {\n  return uniq([\n    row.nombre,\n    row.producto,\n    baseProductName(row),\n    row.descripcion,\n    row.tags,\n    row.categoria,\n    row.variante,\n    row.producto_display,\n    row.extras_disponibles\n  ]).join(' ');\n}\n\nfunction canonicalChoice(req, rowText) {\n  const options = [\n    'carbonara','bolognesa','frutti di mari','maremonti','napolitana',\n    'colombiana','manzana','uva','sin gas','con gas','coca cola','pepsi',\n    'fanta','sprite','ajillo','gambas','bbq bacon','barbacoa','clasica','pollo'\n  ];\n  const rn = normalizeRequest(req);\n  const rt = normalizeRequest(rowText);\n  return options.find(opt => rn.includes(opt) && rt.includes(opt)) || null;\n}\n\nfunction prettyChoice(choice) {\n  const map = {\n    'carbonara': 'Carbonara',\n    'bolognesa': 'Boloñesa',\n    'frutti di mari': 'Frutti di mari',\n    'maremonti': 'Maremonti',\n    'napolitana': 'Napolitana',\n    'colombiana': 'Colombiana',\n    'manzana': 'Manzana',\n    'uva': 'Uva',\n    'sin gas': 'sin gas',\n    'con gas': 'con gas',\n    'coca cola': 'Coca-Cola',\n    'pepsi': 'Pepsi',\n    'fanta': 'Fanta',\n    'sprite': 'Sprite',\n    'ajillo': 'a ajillo con gambas',\n    'bbq bacon': 'BBQ Bacon',\n    'barbacoa': 'Barbacoa',\n    'clasica': 'Clásica',\n    'pollo': 'Pollo'\n  };\n  return map[choice] || choice;\n}\n\nfunction buildDisplayName(row, req) {\n  const baseNombre = String(row.nombre || row.producto || '').trim();\n  const rowText = buildRowText(row);\n  const choice = canonicalChoice(req, rowText);\n  const variante = row.variante ? ` - ${row.variante}` : '';\n  const prodNorm = normalize(row.producto || '');\n  const baseNorm = normalize(baseNombre);\n\n  if ((prodNorm.includes('salsa a elegir') || baseNorm.includes('salsa a elegir')) && choice) {\n    return `Espaguetis ${prettyChoice(choice)}${variante}`;\n  }\n  if (baseNorm.includes('postobon') && choice) {\n    return `Postobon ${prettyChoice(choice)}${variante}`;\n  }\n  return baseNombre;\n}\n\nfunction preferredVariantScore(row) {\n  const v = normalize(row.variante || '');\n  const base = normalize(baseProductName(row));\n  let score = 0;\n  if (!v || v === 'unica' || v === 'estandar') score += 40;\n  if (v.includes('500 ml')) score += 30;\n  if (v.includes('lata')) score += 20;\n  if (v.includes('personal')) score += 25;\n  if (base.includes('coca cola') || base.includes('pepsi') || base.includes('sprite') || base.includes('fanta')) {\n    if (v.includes('lata')) score += 20;\n  }\n  return score;\n}\n\nfunction parseExtras(raw) {\n  const text = String(raw || '').trim();\n  if (!text) return [];\n  const chunks = text.split(/\\),\\s*/).map((part, idx, arr) => {\n    const p = part.trim();\n    if (!p) return '';\n    if (p.includes('(') && !p.endsWith(')')) return p + ')';\n    return p;\n  }).filter(Boolean);\n  return chunks.map(chunk => {\n    const match = chunk.match(/^(.*?)\\s*\\((\\d+[\\.,]\\d+)€\\)$/i);\n    if (match) {\n      return {\n        nombre: match[1].trim(),\n        precio: Number(String(match[2]).replace(',', '.'))\n      };\n    }\n    return { nombre: chunk.trim(), precio: 0 };\n  });\n}\n\nfunction extractRequestedExtras(reqItem, row) {\n  const reqNorm = normalizeRequest(reqItem?.nombre || '');\n  const extras = parseExtras(row.extras_disponibles);\n  return extras.filter(extra => {\n    const extraNorm = normalizeRequest(extra.nombre);\n    return extraNorm && reqNorm.includes(extraNorm);\n  });\n}\n\nfunction formatExtraList(extras) {\n  return extras.map(x => x.precio > 0 ? `${x.nombre} (${String(x.precio.toFixed(2)).replace('.', ',')}€)` : x.nombre).join(', ');\n}\n\nfunction hasMeaningfulVariants(rows) {\n  const variants = uniq(rows.map(r => String(r.variante || '').trim()).filter(Boolean));\n  const meaningful = variants.filter(v => !['unica','única','estándar','estandar'].includes(normalize(v)));\n  return { all: variants, meaningful };\n}\n\nfunction chooseBestRow(rows, reqItem) {\n  if (!rows.length) return null;\n  const wantedVariant = detectVariant(reqItem.nombre || '');\n  if (wantedVariant) {\n    const byVariant = rows.filter(r => rowVariant(r).includes(wantedVariant));\n    if (byVariant.length) {\n      return byVariant\n        .slice()\n        .sort((a, b) => (b.__score + preferredVariantScore(b)) - (a.__score + preferredVariantScore(a)))[0];\n    }\n  }\n  return rows\n    .slice()\n    .sort((a, b) =>\n      (b.__score + preferredVariantScore(b) - toNumber(b.precio, 0) * 0.01) -\n      (a.__score + preferredVariantScore(a) - toNumber(a.precio, 0) * 0.01)\n    )[0];\n}\n\nfunction scoreCandidate(reqItem, row) {\n  const req = String(reqItem?.nombre || '');\n  const reqNorm = normalizeRequest(req);\n  const rowName = normalizeRequest(row.nombre || '');\n  const rowProd = normalizeRequest(row.producto || '');\n  const rowBaseName = normalizeRequest(baseProductName(row));\n  const rowVar = normalizeRequest(row.variante || '');\n  const rowDesc = normalizeRequest(row.descripcion || '');\n  const rowTags = normalizeRequest(row.tags || '');\n  const rowCat = normalizeRequest(row.categoria || '');\n  const rowText = uniq([rowName, rowProd, rowBaseName, rowVar, rowDesc, rowTags, rowCat]).join(' ');\n  const reqTokens = uniq(tokenize(reqNorm));\n  const rowTokens = uniq(tokenize(rowText));\n\n  let score = 0;\n  if (!row.disponible) score -= 300;\n  if (reqNorm === rowName || reqNorm === rowProd || reqNorm === rowBaseName) score += 180;\n  if (rowName.includes(reqNorm) || rowProd.includes(reqNorm) || rowBaseName.includes(reqNorm)) score += 80;\n  if (reqNorm.includes(rowName) || reqNorm.includes(rowProd) || reqNorm.includes(rowBaseName)) score += 55;\n\n  const overlap = reqTokens.filter(t => rowTokens.includes(t)).length;\n  score += overlap * 16;\n\n  score += Math.round(dice(reqNorm, rowBaseName) * 60);\n  score += Math.round(dice(reqNorm, rowName) * 45);\n\n  if (reqNorm.includes('pizza') && row.is_pizza) score += 14;\n  if (reqNorm.includes('hamburguesa') && rowCat.includes('hamburguesa')) score += 14;\n  if ((reqNorm.includes('bebida') || reqNorm.includes('refresco')) && rowCat.includes('bebida')) score += 10;\n  if ((reqNorm.includes('pasta') || reqNorm.includes('espaguetis')) && rowCat.includes('pasta')) score += 10;\n\n  const wantedVariant = detectVariant(req);\n  if (wantedVariant) {\n    if (rowVar.includes(wantedVariant)) score += 35;\n    else score -= 15;\n  }\n\n  const choice = canonicalChoice(req, rowText);\n  if (choice) score += 24;\n\n  if (reqNorm.includes('pollo')) {\n    if (rowText.includes('pollo')) score += 55;\n    else score -= 45;\n  }\n  if (!reqNorm.includes('pollo') && reqNorm.includes('barbacoa') && rowText.includes('barbacoa pollo')) {\n    score -= 18;\n  }\n\n  if (reqNorm.includes('lanzarote') && rowText.includes('lanzarote')) score += 50;\n  if (reqNorm.includes('barbacoa') && rowText.includes('barbacoa')) score += 40;\n  if (reqNorm.includes('vegana') && rowText.includes('vegana')) score += 40;\n  if (reqNorm.includes('clasica') && rowText.includes('clasica')) score += 40;\n  if (reqNorm.includes('carbonara') && rowText.includes('carbonara')) score += 40;\n  if (reqNorm.includes('coca cola') && rowText.includes('coca cola')) score += 40;\n  if (reqNorm.includes('postobon') && rowText.includes('postobon')) score += 35;\n\n  return { score, row };\n}\n\nfunction buildProblem(nombre, problema, mensaje, opciones = [], obligatorio = true) {\n  return { nombre, problema, mensaje, opciones, obligatorio };\n}\n\nfunction categoryOptions(reqItem) {\n  const t = normalizeRequest(reqItem?.nombre);\n  if (!t) return null;\n  if (['pizza','pizzas'].includes(t)) return { categoria: 'Pizzas', texto: 'Qué pizza quieres? Puedo ofrecerte Lanzarote, Barbacoa, Barbacoa Pollo, Cuatro Quesos, Margarita, Pepperoni o Vegana Suprema.' };\n  if (['hamburguesa','hamburguesas'].includes(t)) return { categoria: 'Hamburguesas', texto: 'Qué hamburguesa quieres? Puedo ofrecerte BBQ Bacon, Clásica, Doble Veggie o Pollo Crispy.' };\n  if (['bebida','bebidas','refresco','refrescos'].includes(t)) return { categoria: 'Bebidas', texto: 'Qué bebida quieres? Puedo ofrecerte Agua Mineral, Coca-Cola, Pepsi, Fanta, Sprite, Postobon o Cerveza Tropical.' };\n  if (['pasta','pastas','espaguetis'].includes(t)) return { categoria: 'Pastas', texto: 'Qué pasta quieres? Puedes pedir Carbonara, Boloñesa, Napolitana o Espaguetis a ajillo con gambas.' };\n  return null;\n}\n\nfunction dedupeValidated(items) {\n  const map = new Map();\n  for (const item of items) {\n    const key = normalize(item.nombre + '|' + (item.notas || ''));\n    if (!map.has(key)) {\n      map.set(key, { ...item });\n    } else {\n      const cur = map.get(key);\n      cur.cantidad += toNumber(item.cantidad, 1);\n      cur.subtotal = Number((cur.cantidad * toNumber(cur.precio_unitario, 0)).toFixed(2));\n      map.set(key, cur);\n    }\n  }\n  return [...map.values()];\n}\n\nconst result = {\n  pedido_id: datos.pedido_id || null,\n  pedido_numero: datos.pedido_numero || null,\n  pedido_codigo: datos.pedido_codigo || null,\n  session_id: datos.session_id || null,\n  telefono: datos.telefono || null,\n  items_actuales: Array.isArray(datos.items_actuales) ? datos.items_actuales : [],\n  subtotal_actual: toNumber(datos.subtotal_actual, 0),\n  total_actual: toNumber(datos.total_actual, 0),\n  accion: datos.accion || 'consultar',\n  usuario_id: datos.usuario_id || null,\n  forzar_pedido_nuevo: datos.forzar_pedido_nuevo || false,\n  items_nuevos: Array.isArray(datos.items_nuevos) ? datos.items_nuevos : [],\n  items_validados: [],\n  items_problematicos: [],\n  necesita_aclaracion: false,\n  pregunta_aclaracion: null,\n  puede_continuar: true,\n  tiene_pendientes: false\n};\n\nif (String(result.accion).toLowerCase() === 'consultar') {\n  return [{ json: result }];\n}\n\nif (!result.items_nuevos.length) {\n  result.puede_continuar = false;\n  result.tiene_pendientes = true;\n  result.items_problematicos.push(buildProblem('pedido', 'sin_items', 'No encontré productos para procesar en tu mensaje.'));\n  return [{ json: result }];\n}\n\nfor (const reqItem of result.items_nuevos) {\n  const reqName = String(reqItem?.nombre || '').trim();\n  const reqNorm = normalizeRequest(reqName);\n  const qty = Math.max(1, toNumber(reqItem?.cantidad, 1));\n  if (!reqName) continue;\n\n  const catAmb = categoryOptions(reqItem);\n  if (catAmb) {\n    result.necesita_aclaracion = true;\n    result.tiene_pendientes = true;\n    result.items_problematicos.push(buildProblem(reqName, 'categoria_ambigua', catAmb.texto));\n    continue;\n  }\n\n  const scored = menuRows\n    .map(r => scoreCandidate(reqItem, r))\n    .filter(x => x.score > 18)\n    .sort((a, b) => b.score - a.score);\n\n  if (!scored.length) {\n    result.tiene_pendientes = true;\n    result.items_problematicos.push(buildProblem(reqName, 'no_existe', `No encontré \"${reqName}\" en el menú.`));\n    continue;\n  }\n\n  const groups = new Map();\n  for (const s of scored) {\n    const key = rowBase(s.row);\n    if (!groups.has(key)) groups.set(key, []);\n    s.row.__score = s.score;\n    groups.get(key).push(s.row);\n  }\n\n  let grouped = [...groups.entries()]\n    .map(([base, rows]) => ({\n      base,\n      rows,\n      bestScore: Math.max(...rows.map(r => toNumber(r.__score, 0))),\n      labels: uniq(rows.map(r => baseProductName(r)))\n    }))\n    .sort((a, b) => b.bestScore - a.bestScore);\n\n  if (!grouped.length) {\n    result.tiene_pendientes = true;\n    result.items_problematicos.push(buildProblem(reqName, 'no_existe', `No encontré \"${reqName}\" en el menú.`));\n    continue;\n  }\n\n  const exactGroup = grouped.find(g => reqNorm === g.base || reqNorm.includes(g.base) || g.base.includes(reqNorm));\n  if (exactGroup) {\n    grouped = [exactGroup, ...grouped.filter(g => g.base !== exactGroup.base)];\n  }\n\n  const bestGroup = grouped[0];\n  const secondGroup = grouped[1] || null;\n\n  if (!bestGroup || bestGroup.bestScore < 25) {\n    result.tiene_pendientes = true;\n    result.items_problematicos.push(buildProblem(reqName, 'no_existe', `No encontré \"${reqName}\" en el menú.`));\n    continue;\n  }\n\n  if (!exactGroup && secondGroup && bestGroup.bestScore - secondGroup.bestScore <= 8 && bestGroup.base !== secondGroup.base) {\n    const opciones = uniq([baseProductName(bestGroup.rows[0]), baseProductName(secondGroup.rows[0])]).slice(0, 4);\n    result.necesita_aclaracion = true;\n    result.tiene_pendientes = true;\n    result.items_problematicos.push(buildProblem(\n      reqName,\n      'ambiguo',\n      `Quiero confirmar \"${reqName}\". ¿Te refieres a ${opciones.join(' o ')}?`,\n      opciones\n    ));\n    continue;\n  }\n\n  const variantsInfo = hasMeaningfulVariants(bestGroup.rows);\n  const wantedVariant = detectVariant(reqName);\n  if (!wantedVariant && variantsInfo.meaningful.length > 1) {\n    const producto = baseProductName(bestGroup.rows[0]);\n    const opciones = variantsInfo.meaningful;\n    result.necesita_aclaracion = true;\n    result.tiene_pendientes = true;\n    result.items_problematicos.push(buildProblem(\n      reqName,\n      'variante_requerida',\n      `Para ${producto} necesito el tamaño o variante. Opciones: ${opciones.join(', ')}.`,\n      opciones\n    ));\n    continue;\n  }\n\n  const bestRow = chooseBestRow(bestGroup.rows, reqItem);\n  if (!bestRow) {\n    result.tiene_pendientes = true;\n    result.items_problematicos.push(buildProblem(reqName, 'no_existe', `No encontré \"${reqName}\" en el menú.`));\n    continue;\n  }\n\n  const nombreFinal = buildDisplayName(bestRow, reqName);\n  const precioBase = toNumber(bestRow.precio, 0);\n\n  // ── Extras con extra_id desde extras_json (M-12) ──────────────\n  // Buscar extras mencionados en el nombre del ítem O en reqItem.notas\n  const searchText = normalizeRequest(\n    (reqItem?.nombre || '') + ' ' + (reqItem?.notas || '')\n  );\n  // extras_json puede llegar como array (n8n parsea JSONB) o como string en algunos entornos\n  let _rawExtrasJson = bestRow.extras_json;\n  if (typeof _rawExtrasJson === 'string' && _rawExtrasJson.trim()) {\n    try { _rawExtrasJson = JSON.parse(_rawExtrasJson); } catch(e) { _rawExtrasJson = []; }\n  }\n  const availableExtrasJson = Array.isArray(_rawExtrasJson) ? _rawExtrasJson : [];\n  const matchedExtras = availableExtrasJson.filter(ex => {\n    const exNorm = normalizeRequest(ex.name);\n    return exNorm && searchText.includes(exNorm);\n  });\n\n  // Extras como array estructurado con extra_id\n  const extrasArray = matchedExtras.map(ex => ({\n    extra_id:   Number(ex.extra_id),\n    name:       String(ex.name),\n    quantity:   1,\n    unit_price: Number(ex.price || 0)\n  }));\n  const extrasTotal = extrasArray.reduce((acc, ex) => acc + ex.unit_price * ex.quantity, 0);\n  const precio = Number((precioBase + extrasTotal).toFixed(2));\n\n  // ── Notas: solo preferencias de cocina que NO sean extras del menú ─\n  // Si reqItem.notas coincide completamente con un extra detectado, no lo repetimos en notas\n  const notasTexto = reqItem.notas && String(reqItem.notas).trim()\n    ? String(reqItem.notas).trim()\n    : null;\n  const notasEsExtra = notasTexto && matchedExtras.some(ex =>\n    normalizeRequest(notasTexto).includes(normalizeRequest(ex.name))\n  );\n  const notasItem = notasEsExtra ? null : notasTexto;\n\n  result.items_validados.push({\n    nombre:          nombreFinal,\n    cantidad:        qty,\n    precio_unitario: precio,\n    subtotal:        Number((qty * precio).toFixed(2)),\n    notas:           notasItem,\n    extras:          extrasArray\n  });\n\n  const availableExtras = availableExtrasJson.length\n    ? availableExtrasJson.map(ex => ({ nombre: ex.name, precio: Number(ex.price || 0) }))\n    : parseExtras(bestRow.extras_disponibles);  // fallback texto si extras_json vacío\n  if (availableExtras.length && matchedExtras.length === 0 && String(result.accion || '').toLowerCase() === 'agregar') {\n    result.tiene_pendientes = true;\n    result.items_problematicos.push(buildProblem(\n      nombreFinal,\n      'extras_opcionales',\n      `Para ${nombreFinal} puedes agregar extras: ${formatExtraList(availableExtras)}. ¿Quieres añadir alguno?`,\n      availableExtras.map(x => x.nombre),\n      false\n    ));\n  }\n}\n\nresult.items_validados = dedupeValidated(result.items_validados);\n\nconst blockingProblems = result.items_problematicos.filter(x => x.obligatorio !== false);\nif (!result.items_validados.length && (result.necesita_aclaracion || blockingProblems.length > 0)) {\n  result.puede_continuar = false;\n}\n\nif (!result.items_validados.length && !result.items_problematicos.length) {\n  result.puede_continuar = false;\n  result.tiene_pendientes = true;\n  result.items_problematicos.push(buildProblem('pedido', 'sin_coincidencias', 'No pude validar los productos que me pediste.'));\n}\n\nif (result.items_problematicos.length > 0 || result.necesita_aclaracion) {\n  result.tiene_pendientes = true;\n}\n\nif (result.items_validados.length > 0) {\n  result.puede_continuar = true;\n}\n\nif (result.necesita_aclaracion && !result.pregunta_aclaracion) {\n  const firstBlocking = result.items_problematicos.find(x => x.obligatorio !== false);\n  result.pregunta_aclaracion = firstBlocking?.mensaje || null;\n}\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        80
      ],
      "id": "dd93d62a-bba7-4862-99da-2f2160dcce98",
      "name": "Agente Validador",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  categoria,\n  producto,\n  descripcion,\n  variante,\n  precio,\n  extras_disponibles,\n  disponible,\n  tags,\n  is_pizza,\n  producto_display AS nombre,\n  menu_item_id,\n  menu_variant_id,\n  extras_json\nFROM public.fn_menu_lookup(NULL)\nORDER BY categoria, producto, precio",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1024,
        304
      ],
      "id": "9eeda2a0-da48-42d2-926b-b1eb601969ea",
      "name": "consultar_menu",
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\n\nfunction normalize(v) {\n  return String(v || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s-]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction toNumber(v, d = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : d;\n}\n\nfunction recalc(item) {\n  const cantidad = Math.max(0, toNumber(item?.cantidad, 1));\n  const precio = toNumber(item?.precio_unitario, 0);\n  return {\n    notas:           item?.notas ?? null,\n    nombre:          String(item?.nombre || '').trim(),\n    cantidad,\n    subtotal:        Number((cantidad * precio).toFixed(2)),\n    precio_unitario: precio,\n    extras:          Array.isArray(item?.extras) ? item.extras : []\n  };\n}\n\nfunction mergeExtras(existing, incoming) {\n  const base = Array.isArray(existing) ? existing : [];\n  const inc  = Array.isArray(incoming)  ? incoming  : [];\n  if (!inc.length) return base;\n  const map = new Map(base.map(e => [e.extra_id, { ...e }]));\n  for (const ex of inc) { map.set(ex.extra_id, { ...ex }); }\n  return [...map.values()];\n}\n\nconst accion = String(input.accion || 'consultar').toLowerCase().trim();\nconst itemsActuales = Array.isArray(input.items_actuales) ? input.items_actuales.map(recalc) : [];\nconst itemsValidados = Array.isArray(input.items_validados) ? input.items_validados.map(recalc) : [];\nconst itemsProblematicos = Array.isArray(input.items_problematicos) ? input.items_problematicos : [];\nconst tienePendientes = Boolean(input.tiene_pendientes || input.necesita_aclaracion || itemsProblematicos.length > 0);\n\nfunction findIndexByName(arr, nombre) {\n  const target = normalize(nombre);\n  return arr.findIndex(x => normalize(x?.nombre) === target);\n}\n\nif (accion === 'consultar') {\n  return [{\n    json: {\n      success: true,\n      puede_continuar: true,\n      mutar_db: false,\n      pedido_id: input.pedido_id || null,\n      pedido_numero: input.pedido_numero || null,\n      pedido_codigo: input.pedido_codigo || null,\n      session_id: input.session_id || null,\n      telefono: input.telefono || null,\n      items_actualizados: itemsActuales,\n      subtotal: toNumber(input.subtotal_actual, 0),\n      total_actual: toNumber(input.total_actual, 0),\n      accion_ejecutada: accion,\n      tiene_pendientes: false,\n      items_problematicos: [],\n      tipo_despacho_actual: input.tipo_despacho_actual || null,\n      direccion_actual: input.direccion_actual || null,\n      metodo_pago_actual: input.metodo_pago_actual || null,\n      estado_actual: input.estado_actual || null,\n      tiempo_estimado_actual: input.tiempo_estimado_actual || null,\n      costo_envio_actual: toNumber(input.costo_envio_actual, 0)\n    }\n  }];\n}\n\nif (!itemsValidados.length) {\n  return [{\n    json: {\n      success: false,\n      puede_continuar: false,\n      mutar_db: false,\n      pedido_id: input.pedido_id || null,\n      pedido_numero: input.pedido_numero || null,\n      pedido_codigo: input.pedido_codigo || null,\n      session_id: input.session_id || null,\n      telefono: input.telefono || null,\n      items_actuales: itemsActuales,\n      items_nuevos: Array.isArray(input.items_nuevos) ? input.items_nuevos : [],\n      subtotal: toNumber(input.subtotal_actual, 0),\n      total_actual: toNumber(input.total_actual, 0),\n      accion_ejecutada: accion,\n      necesita_aclaracion: Boolean(input.necesita_aclaracion),\n      pregunta_aclaracion: input.pregunta_aclaracion || null,\n      items_problematicos: itemsProblematicos,\n      tiene_pendientes: true,\n      tipo_despacho_actual: input.tipo_despacho_actual || null,\n      direccion_actual: input.direccion_actual || null,\n      metodo_pago_actual: input.metodo_pago_actual || null,\n      estado_actual: input.estado_actual || null,\n      tiempo_estimado_actual: input.tiempo_estimado_actual || null,\n      costo_envio_actual: toNumber(input.costo_envio_actual, 0)\n    }\n  }];\n}\n\nconst itemsActualizados = [...itemsActuales];\n\nif (accion === 'agregar') {\n  for (const item of itemsValidados) {\n    const idx = findIndexByName(itemsActualizados, item.nombre);\n    if (idx >= 0) {\n      itemsActualizados[idx] = recalc({\n        ...itemsActualizados[idx],\n        cantidad:        toNumber(itemsActualizados[idx].cantidad, 0) + toNumber(item.cantidad, 1),\n        precio_unitario: toNumber(item.precio_unitario, itemsActualizados[idx].precio_unitario),\n        notas:           item.notas ?? itemsActualizados[idx].notas ?? null,\n        extras:          mergeExtras(itemsActualizados[idx].extras, item.extras)\n      });\n    } else {\n      itemsActualizados.push(recalc(item));\n    }\n  }\n} else if (accion === 'quitar') {\n  for (const item of itemsValidados) {\n    const idx = findIndexByName(itemsActualizados, item.nombre);\n    if (idx >= 0) {\n      const restante = toNumber(itemsActualizados[idx].cantidad, 0) - Math.max(1, toNumber(item.cantidad, 1));\n      if (restante <= 0) {\n        itemsActualizados.splice(idx, 1);\n      } else {\n        itemsActualizados[idx] = recalc({\n          ...itemsActualizados[idx],\n          cantidad: restante\n        });\n      }\n    }\n  }\n} else if (accion === 'modificar') {\n  for (const item of itemsValidados) {\n    const idx = findIndexByName(itemsActualizados, item.nombre);\n    if (idx >= 0) {\n      itemsActualizados[idx] = recalc({\n        ...itemsActualizados[idx],\n        cantidad:        Math.max(1, toNumber(item.cantidad, itemsActualizados[idx].cantidad)),\n        precio_unitario: toNumber(item.precio_unitario, itemsActualizados[idx].precio_unitario),\n        notas:           item.notas ?? itemsActualizados[idx].notas ?? null,\n        extras:          mergeExtras(itemsActualizados[idx].extras, item.extras)\n      });\n    } else {\n      itemsActualizados.push(recalc(item));\n    }\n  }\n}\n\nconst subtotal = Number(itemsActualizados.reduce((acc, item) => acc + toNumber(item.subtotal, 0), 0).toFixed(2));\n\n// Construir fragmento SQL para notas (evita comillas simples dentro de expresiones n8n)\nconst notasArray = itemsActualizados\n  .filter(i => i.notas && String(i.notas).trim() && String(i.notas) !== 'null')\n  .map(i => ({ item: String(i.nombre || '').trim(), nota: String(i.notas).trim() }));\n// Cuando hay notas produce: \"'[{...}]'::jsonb\"  |  Si no: \"notas\" (no-op)\nconst notas_sql_frag = notasArray.length > 0\n  ? \"'\" + JSON.stringify(notasArray).replace(/'/g, \"''\") + \"'::jsonb\"\n  : 'notas';\n\nreturn [{\n  json: {\n    success: true,\n    puede_continuar: true,\n    mutar_db: true,\n    pedido_id: input.pedido_id || null,\n    pedido_numero: input.pedido_numero || null,\n    pedido_codigo: input.pedido_codigo || null,\n    session_id: input.session_id || null,\n    telefono: input.telefono || null,\n    items_actualizados: itemsActualizados,\n    subtotal,\n    total_actual: toNumber(input.total_actual, 0),\n    accion_ejecutada: accion,\n    tiene_pendientes: tienePendientes,\n    necesita_aclaracion: Boolean(input.necesita_aclaracion),\n    pregunta_aclaracion: input.pregunta_aclaracion || null,\n    items_problematicos: itemsProblematicos,\n    items_validados: itemsValidados,\n    notas_sql_frag,\n    tipo_despacho_actual: input.tipo_despacho_actual || null,\n    direccion_actual: input.direccion_actual || null,\n    metodo_pago_actual: input.metodo_pago_actual || null,\n    estado_actual: input.estado_actual || null,\n    tiempo_estimado_actual: input.tiempo_estimado_actual || null,\n    costo_envio_actual: toNumber(input.costo_envio_actual, 0)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        80
      ],
      "id": "cd06ee1d-d644-4de8-83bf-8dbddcd3b36d",
      "name": "Ejecutar Acción",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH current_row AS (\n  SELECT *\n  FROM pedidos\n  WHERE id = {{ $input.first().json.pedido_id }}\n),\nupdated AS (\n  UPDATE pedidos p\n  SET \n    items = '{{ JSON.stringify($input.first().json.items_actualizados || []).replace(/'/g, \"''\") }}'::jsonb,\n    subtotal = {{ Number($input.first().json.subtotal || 0) }},\n    total = CASE\n      WHEN lower(COALESCE(p.tipo_despacho,'')) = 'delivery' THEN {{ Number($input.first().json.subtotal || 0) }} + COALESCE(p.costo_envio,0)\n      ELSE {{ Number($input.first().json.subtotal || 0) }}\n    END,\n    notas = {{ $input.first().json.notas_sql_frag }},\n    usuario_id = COALESCE(\n      p.usuario_id,\n      CASE\n        WHEN regexp_replace('{{ $('When Executed by Another Workflow').first().json.usuario_id || '' }}', '[^0-9]', '', 'g') <> ''\n        THEN regexp_replace('{{ $('When Executed by Another Workflow').first().json.usuario_id || '' }}', '[^0-9]', '', 'g')::int\n        ELSE NULL\n      END\n    ),\n    estado = CASE\n      WHEN lower(COALESCE(p.estado,'en_curso')) IN ('confirmado','pendiente_pago','pagado','paid') THEN 'en_curso'\n      ELSE COALESCE(p.estado,'en_curso')\n    END,\n    updated_at = NOW()\n  WHERE p.id = {{ $input.first().json.pedido_id }}\n    AND {{ $input.first().json.mutar_db === true ? 'true' : 'false' }}\n  RETURNING p.*\n)\nSELECT * FROM updated\nUNION ALL\nSELECT * FROM current_row\nWHERE NOT EXISTS (SELECT 1 FROM updated)",
        "options": {}
      },
      "id": "9eaa4aad-524c-41d5-a730-75873fbf022b",
      "name": "Actualizar Pedido en DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1984,
        80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const pedidoDB = $json || {};\nconst ejecutado = (() => {\n  try { return $('Ejecutar Acción').first().json || {}; } catch { return {}; }\n})();\n\nlet carrito_expirado = false;\ntry {\n  carrito_expirado = Boolean($('Check Carrito Expirado').first().json.tenia_carrito_expirado);\n} catch (e) {\n  carrito_expirado = false;\n}\n\nconst moneda = '€';\n\nfunction formatearPrecio(valor, simbolo = moneda) {\n  return simbolo + Number(valor || 0).toFixed(2).replace('.', ',');\n}\n\nfunction listaItems(items, withSubtotal = false) {\n  return (Array.isArray(items) ? items : []).map(i => {\n    const base = `${Number(i.cantidad || 1)}x ${i.nombre}`;\n    return withSubtotal ? `${base} (${formatearPrecio(i.subtotal)})` : base;\n  });\n}\n\nfunction listaItemsConNotas(items) {\n  return (Array.isArray(items) ? items : []).map(i => {\n    const base = `${Number(i.cantidad || 1)}x ${i.nombre}`;\n    return i.notas ? `${base} (nota: ${i.notas})` : base;\n  });\n}\n\nconst items = Array.isArray(pedidoDB.items)\n  ? pedidoDB.items\n  : (() => {\n      try { return JSON.parse(pedidoDB.items || '[]'); } catch { return []; }\n    })();\n\nconst accion = String(ejecutado.accion_ejecutada || 'consultar').toLowerCase().trim();\nconst subtotal = Number(pedidoDB.subtotal ?? ejecutado.subtotal ?? 0);\nconst total = Number(pedidoDB.total ?? subtotal ?? 0);\nconst costoEnvio = Number(pedidoDB.costo_envio || 0);\nconst codigo = pedidoDB.pedido_codigo || ejecutado.pedido_codigo || null;\nconst tipoDespacho = String(pedidoDB.tipo_despacho || ejecutado.tipo_despacho_actual || '').toLowerCase().trim();\nconst metodoPago = String(pedidoDB.metodo_pago || ejecutado.metodo_pago_actual || '').toLowerCase().trim();\nconst tiempo = pedidoDB.tiempo_estimado || ejecutado.tiempo_estimado_actual || null;\n\nif (ejecutado.success === false || ejecutado.puede_continuar === false) {\n  let mensaje = 'No pude actualizar el pedido.';\n  if (ejecutado.necesita_aclaracion && ejecutado.pregunta_aclaracion) {\n    mensaje = ejecutado.pregunta_aclaracion;\n  } else if (Array.isArray(ejecutado.items_problematicos) && ejecutado.items_problematicos.length > 0) {\n    mensaje = ejecutado.items_problematicos.map(x => x.mensaje).filter(Boolean).join(' ');\n  }\n\n  return [{\n    json: {\n      success: false,\n      respuesta_agente: mensaje,\n      pedido_id: pedidoDB.id || ejecutado.pedido_id || null,\n      pedido_numero: pedidoDB.pedido_numero || ejecutado.pedido_numero || null,\n      pedido_codigo: codigo,\n      items,\n      subtotal,\n      total,\n      tipo_despacho: tipoDespacho || null,\n      metodo_pago: metodoPago || null,\n      tiempo_estimado: tiempo || null\n    }\n  }];\n}\n\nconst itemsTexto = listaItems(items, false);\nconst itemsTextoConSubtotal = listaItems(items, true);\nconst itemsAgregados = listaItems(Array.isArray(ejecutado.items_validados) ? ejecutado.items_validados : [], false);\nconst pendientes = Array.isArray(ejecutado.items_problematicos) ? ejecutado.items_problematicos.map(x => x.mensaje).filter(Boolean) : [];\n\nlet mensaje = '';\n\nif (accion === 'consultar') {\n  const despachoTexto = tipoDespacho === 'delivery'\n    ? `Delivery${pedidoDB.direccion ? ` a ${pedidoDB.direccion}` : ''}${costoEnvio ? ` con envío de ${formatearPrecio(costoEnvio)}` : ''}.`\n    : tipoDespacho === 'retiro'\n      ? 'Retiro en el local.'\n      : 'Aún no has definido si será delivery o retiro.';\n  const pagoTexto = metodoPago ? `Pago: ${metodoPago}.` : 'Aún no has definido el método de pago.';\n  const tiempoTexto = tiempo ? `Tiempo estimado: ${tiempo}.` : '';\n  mensaje = items.length\n    ? `Tu pedido${codigo ? ` ${codigo}` : ''} lleva ${itemsTextoConSubtotal.join(', ')}. ${despachoTexto} ${pagoTexto} ${tiempoTexto}`.replace(/\\s+/g, ' ').trim()\n    : `Tu pedido${codigo ? ` ${codigo}` : ''} está vacío por ahora.`;\n} else {\n  const itemsAgregadosTexto = listaItemsConNotas(\n    Array.isArray(ejecutado.items_validados) ? ejecutado.items_validados : []\n  );\n  const encabezado = accion === 'agregar' && itemsAgregadosTexto.length\n    ? `Listo, agregué ${itemsAgregadosTexto.join(', ')}`\n    : accion === 'agregar'\n      ? 'Listo'\n      : accion === 'quitar'\n        ? 'Listo, actualicé tu pedido'\n        : accion === 'modificar'\n          ? 'Anotado, actualicé el pedido'\n          : 'Perfecto, actualicé tu pedido';\n\n  mensaje = items.length\n    ? `${encabezado}, tu pedido${codigo ? ` ${codigo}` : ''} ahora lleva ${itemsTexto.join(', ')}. Subtotal: ${formatearPrecio(subtotal)}.`\n    : `${encabezado}. Tu pedido quedó vacío.`;\n\n  if (ejecutado.tiene_pendientes && itemsAgregados.length && pendientes.length) {\n    mensaje += ` Agregué ${itemsAgregados.join(', ')}. Aún necesito confirmar esto: ${pendientes.join(' ')}`;\n  } else if (ejecutado.tiene_pendientes && pendientes.length) {\n    mensaje += ` ${pendientes.join(' ')}`;\n  }\n\n  if (tipoDespacho === 'retiro') {\n    mensaje += ` Mantengo retiro en el local${tiempo ? ` con tiempo estimado de ${tiempo}` : ''}.`;\n  } else if (tipoDespacho === 'delivery') {\n    mensaje += ` Mantengo delivery${pedidoDB.direccion ? ` a ${pedidoDB.direccion}` : ''}${tiempo ? ` con tiempo estimado de ${tiempo}` : ''}.`;\n  }\n\n  if (metodoPago) {\n    mensaje += ` Método de pago actual: ${metodoPago}.`;\n  }\n}\n\nif (carrito_expirado) {\n  mensaje = 'Tu carrito anterior expiró. Abrí un pedido nuevo. ' + mensaje;\n}\n\nreturn [{\n  json: {\n    success: true,\n    respuesta_agente: mensaje.replace(/\\s+/g, ' ').trim(),\n    pedido_id: pedidoDB.id || ejecutado.pedido_id || null,\n    pedido_numero: pedidoDB.pedido_numero || ejecutado.pedido_numero || null,\n    pedido_codigo: codigo,\n    items,\n    subtotal,\n    total,\n    tipo_despacho: tipoDespacho || null,\n    metodo_pago: metodoPago || null,\n    tiempo_estimado: tiempo || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        80
      ],
      "id": "dff51ea6-10d4-484b-9139-ab4d33b491f1",
      "name": "Generar Respuesta Final",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        80
      ],
      "id": "83bfe85d-c706-4eb6-892d-b1da7d8f3b59",
      "name": "Merge Pedido1"
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('When Executed by Another Workflow').first().json || {};\nconst pedido  = $('Merge Pedido1').first().json || {};\n\nfunction normalize(v) {\n  return String(v || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction toNumber(v, d = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : d;\n}\n\nfunction singularCategory(cat) {\n  const t = normalize(cat);\n  if (t.includes('pizza')) return 'pizza';\n  if (t.includes('hamburguesa')) return 'hamburguesa';\n  if (t.includes('bebida') || t.includes('refresco')) return 'bebida';\n  if (t.includes('pasta') || t.includes('espagueti') || t.includes('spaghetti')) return 'pasta';\n  return '';\n}\n\nfunction extractQtyAndName(texto, qtyFallback = 1) {\n  let t = String(texto || '').trim();\n  if (!t) return null;\n\n  const patrones = [\n    [/^(una|un|uno)\\s+/i, 1],\n    [/^(dos|2)\\s+/i, 2],\n    [/^(tres|3)\\s+/i, 3],\n    [/^(cuatro|4)\\s+/i, 4],\n    [/^(cinco|5)\\s+/i, 5],\n  ];\n\n  let qty = Math.max(1, toNumber(qtyFallback, 1));\n  for (const [rx, value] of patrones) {\n    if (rx.test(t)) {\n      qty = value;\n      t = t.replace(rx, '').trim();\n      break;\n    }\n  }\n\n  t = t\n    .replace(/^(de|del)\\s+/i, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  if (!t) return null;\n  return { nombre: t, cantidad: qty };\n}\n\nfunction splitCompositeItem(item) {\n  const nombreOriginal = String(item?.nombre || '').trim();\n  const qtyOriginal = Math.max(1, toNumber(item?.cantidad, 1));\n  // Preservar notas del item original a través del split\n  const notasOriginal = item?.notas && String(item.notas).trim() ? String(item.notas).trim() : null;\n\n  if (!nombreOriginal) return [];\n\n  const normalized = normalize(nombreOriginal);\n  const rawHasManyProducts = /[,;]/.test(nombreOriginal) || /\\b(y|e)\\b/i.test(nombreOriginal);\n  const rawPluralCategory = /\\b(pizzas|hamburguesas|bebidas|refrescos|pastas)\\b/i.test(nombreOriginal);\n\n  if (!rawHasManyProducts || qtyOriginal > 1 && !rawPluralCategory) {\n    return [{ nombre: nombreOriginal, cantidad: qtyOriginal, notas: notasOriginal }];\n  }\n\n  let contextCategory = singularCategory(nombreOriginal);\n  let working = nombreOriginal\n    .replace(/\\s+/g, ' ')\n    .replace(/\\s+y\\s+/gi, '|')\n    .replace(/\\s+e\\s+/gi, '|')\n    .replace(/,/g, '|');\n\n  const parts = working\n    .split('|')\n    .map(x => x.trim())\n    .filter(Boolean);\n\n  const expanded = [];\n  for (let idx = 0; idx < parts.length; idx++) {\n    const part = parts[idx];\n    const parsed = extractQtyAndName(part, 1);\n    if (!parsed) continue;\n\n    let nombre = parsed.nombre;\n    const partNorm = normalize(nombre);\n\n    if (!contextCategory && idx === 0) {\n      contextCategory = singularCategory(nombre);\n    }\n\n    const alreadyHasCategory =\n      /\\bpizza\\b/i.test(nombre) ||\n      /\\bhamburguesa\\b/i.test(nombre) ||\n      /\\bbebida\\b/i.test(nombre) ||\n      /\\brefresco\\b/i.test(nombre) ||\n      /\\bpasta\\b/i.test(nombre);\n\n    if (contextCategory && !alreadyHasCategory) {\n      nombre = `${contextCategory} ${nombre}`.trim();\n    }\n\n    nombre = nombre\n      .replace(/\\b(de la casa|del local)\\b/gi, '')\n      .replace(/\\s+/g, ' ')\n      .trim();\n\n    expanded.push({\n      nombre,\n      cantidad: parsed.cantidad,\n      notas: notasOriginal\n    });\n  }\n\n  return expanded.length ? expanded : [{ nombre: nombreOriginal, cantidad: qtyOriginal, notas: notasOriginal }];\n}\n\nlet rawItems = trigger.items;\nlet itemsNuevos = [];\n\nif (Array.isArray(rawItems)) {\n  itemsNuevos = rawItems;\n} else if (typeof rawItems === 'string' && rawItems.trim() !== '') {\n  try {\n    const parsed = JSON.parse(rawItems);\n    itemsNuevos = Array.isArray(parsed) ? parsed : [parsed];\n  } catch (e) {\n    itemsNuevos = [];\n  }\n} else if (rawItems && typeof rawItems === 'object') {\n  itemsNuevos = [rawItems];\n}\n\nif (String(trigger.accion || '').toLowerCase().trim() === 'consultar') {\n  itemsNuevos = [];\n}\n\nitemsNuevos = itemsNuevos\n  .flatMap(splitCompositeItem)\n  .filter(x => String(x?.nombre || '').trim() !== '')\n  .map(x => ({\n    nombre: String(x.nombre || '').trim(),\n    cantidad: Math.max(1, toNumber(x.cantidad, 1)),\n    notas: x.notas && String(x.notas).trim() ? String(x.notas).trim() : null\n  }));\n\nlet itemsActuales = [];\ntry {\n  const raw = pedido.items;\n  itemsActuales = Array.isArray(raw) ? raw : JSON.parse(raw || '[]');\n} catch (e) {\n  itemsActuales = [];\n}\n\nlet carrito_expirado = false;\ntry {\n  carrito_expirado = Boolean($('Check Carrito Expirado').first().json.tenia_carrito_expirado);\n} catch (e) {\n  carrito_expirado = false;\n}\n\nreturn [{\n  json: {\n    pedido_id: pedido.id,\n    pedido_numero: pedido.pedido_numero,\n    pedido_codigo: pedido.pedido_codigo || null,\n    session_id: pedido.session_id,\n    telefono: pedido.telefono,\n    items_actuales: itemsActuales,\n    subtotal_actual: Number(pedido.subtotal || 0),\n    total_actual: Number(pedido.total || 0),\n    accion: trigger.accion,\n    usuario_id: trigger.usuario_id || null,\n    forzar_pedido_nuevo: trigger.forzar_pedido_nuevo || false,\n    carrito_expirado: carrito_expirado,\n    items_nuevos: itemsNuevos,\n    tipo_despacho_actual: pedido.tipo_despacho || null,\n    direccion_actual: pedido.direccion || null,\n    metodo_pago_actual: pedido.metodo_pago || null,\n    estado_actual: pedido.estado || null,\n    tiempo_estimado_actual: pedido.tiempo_estimado || null,\n    costo_envio_actual: Number(pedido.costo_envio || 0)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        80
      ],
      "id": "bd1e8b76-3c31-4d3b-a0e5-cb19160bf6a4",
      "name": "Preparar Datos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT EXISTS(\n  SELECT 1 FROM pedidos p\n  CROSS JOIN LATERAL (\n    SELECT COALESCE(config_value::int, 60) AS minutos\n    FROM restaurante_config\n    WHERE config_key = 'cart_expiry_minutes'\n      AND restaurante_id = 1\n    LIMIT 1\n  ) cfg\n  WHERE p.telefono = '{{ $('When Executed by Another Workflow').first().json.telefono }}'\n    AND p.estado IN ('en_curso', 'recibido')\n    AND p.updated_at < NOW() - (cfg.minutos * INTERVAL '1 minute')\n    AND p.updated_at > NOW() - INTERVAL '24 hours' \n) AS tenia_carrito_expirado",
        "options": {}
      },
      "id": "1507fe8e-1f73-4c59-bc27-247d801cdc2a",
      "name": "Check Carrito Expirado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -96,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tud2wJu4FrMUtnqd",
          "name": "postgres restaurante_mvp"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "error-sistema-apertura-001",
      "name": "Respuesta Error Sistema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        320
      ],
      "parameters": {
        "jsCode": "// Nodo de catch global para Apertura\n// Se activa cuando cualquier nodo upstream falla (onError: continueErrorOutput)\nconst err = $input.first();\nconst origen = err?.json?.node || err?.json?.source || 'nodo desconocido';\nconst detalle = err?.json?.message || err?.json?.error || 'sin detalle';\nconst telefono = $('When Executed by Another Workflow').first().json?.telefono || '';\n\nreturn [{\n  json: {\n    success: false,\n    error: true,\n    tipo: 'sistema',\n    subflujo: 'Apertura',\n    mensaje: `Error técnico en Apertura (${origen}): ${detalle}`,\n    puede_continuar: false,\n    mutar_db: false,\n    telefono: telefono,\n    problema_escalacion: `Error técnico en Apertura (${origen}): ${detalle}`\n  }\n}];"
      }
    },
    {
      "id": "registrar-escalacion-apertura-001",
      "name": "Registrar Escalacion Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2572,
        320
      ],
      "continueOnFail": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.escalaciones\n  (restaurante_id, telefono, problema, contexto, conversation_id, account_id, contact_id, estado)\nVALUES (\n  1,\n  '{{ $input.first().json.telefono.replace(/'/g, \"''\") }}',\n  '{{ $input.first().json.problema_escalacion.replace(/'/g, \"''\") }}',\n  '{\"subflujo\": \"Apertura\", \"tipo\": \"error_sistema\"}'::jsonb,\n  '', '', '', 'pendiente'\n)",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "BqJnEVb3yFVjGaAz",
          "name": "Postgres La Isla"
        }
      }
    },
    {
      "id": "devolver-error-apertura-001",
      "name": "Devolver Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2872,
        320
      ],
      "parameters": {
        "jsCode": "// Reenviar la respuesta de error al Director sin modificar\nreturn [$(\"Respuesta Error Sistema\").first()];"
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "accion": "agregar",
          "items": [
            {
              "nombre": "Hamburguesa BBQ Bacon",
              "cantidad": 1
            }
          ],
          "telefono": "+15162849708",
          "session_id": "ba25b0ef-9dbb-4699-a13b-d6609a12e171",
          "pedido_id": "",
          "usuario_id": 3,
          "forzar_pedido_nuevo": "true"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Buscar Pedido Activo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Pedido Activo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge Pedido1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Carrito Expirado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Siguiente Número": {
      "main": [
        [
          {
            "node": "Crear Pedido Nuevo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Pedido Nuevo": {
      "main": [
        [
          {
            "node": "Merge Pedido1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_menu": {
      "main": [
        [
          {
            "node": "Agente Validador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Validador": {
      "main": [
        [
          {
            "node": "Ejecutar Acción",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Acción": {
      "main": [
        [
          {
            "node": "Actualizar Pedido en DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Pedido en DB": {
      "main": [
        [
          {
            "node": "Generar Respuesta Final",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Pedido1": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "consultar_menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Carrito Expirado": {
      "main": [
        [
          {
            "node": "Obtener Siguiente Número",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Respuesta Final": {
      "main": [
        [],
        [
          {
            "node": "Respuesta Error Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Error Sistema": {
      "main": [
        [
          {
            "node": "Registrar Escalacion Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Escalacion Error": {
      "main": [
        [
          {
            "node": "Devolver Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "86992ff4-3932-4199-a0a3-a170009e13c4",
  "meta": {
    "instanceId": "d5ff1dfbe938dd1df5f04ecb5cda709a5ed90c849285e445f339251dbf18d613"
  },
  "id": "1xPEKOIrrHwuu9Cz",
  "tags": []
}