docs/n8n/[MVP] Notificacion Estado Pedido.json
{
  "name": "[MVP] Notificacion Estado Pedido",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notificacion-estado-pedido",
        "responseMode": "immediately",
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "aa000001-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "url": "https://n8nlearning-chatwoot.avtsif.easypanel.host/api/v1/accounts/1/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.body.telefono }}"
            },
            {
              "name": "include_contacts",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000002",
      "name": "Buscar Contacto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GQGObUBKIPim8MDs",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-contact",
              "leftValue": "={{ Array.isArray($json.payload) && $json.payload.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000003",
      "name": "¿Contacto Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://n8nlearning-chatwoot.avtsif.easypanel.host/api/v1/accounts/1/contacts/{{ $json.payload[0].id }}/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000004",
      "name": "Obtener Conversaciones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GQGObUBKIPim8MDs",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhook = $(\"Webhook\").first().json.body || {};\nconst convData = $(\"Obtener Conversaciones\").first().json;\n\n// Obtener la conversación más reciente (mayor id = más reciente)\nconst conversaciones = Array.isArray(convData.payload) ? convData.payload : [];\nconst ultimaConv = conversaciones.length > 0\n  ? conversaciones.slice().sort(function(a, b) { return (b.id || 0) - (a.id || 0); })[0]\n  : null;\nconst conversationId = ultimaConv ? ultimaConv.id : null;\n\nconst eventType = String(webhook.event_type || '');\nconst codigo = String(webhook.pedido_codigo || '?');\nconst tipoDespacho = String(webhook.tipo_despacho || 'retiro');\nconst tiempoEstimado = webhook.tiempo_estimado ? String(webhook.tiempo_estimado) : null;\nconst datosBancarios = webhook.datos_bancarios || null;\n\nlet despachoTexto = '';\nif (tipoDespacho === 'delivery') {\n  despachoTexto = tiempoEstimado\n    ? 'Lo recibirás en aproximadamente ' + tiempoEstimado + '.'\n    : 'Pronto lo recibirás en tu dirección.';\n} else {\n  despachoTexto = 'Puedes retirarlo en el local cuando estés listo.';\n}\n\n// Confirmado — incluye datos bancarios si el pago es por transferencia\nlet mensajeConfirmado = '✅ Tu pedido #' + codigo + ' está confirmado. ' + despachoTexto;\nif (datosBancarios) {\n  mensajeConfirmado += '\n\n🏦 *Datos para transferencia:*';\n  if (datosBancarios.banco)   mensajeConfirmado += '\nBanco: ' + datosBancarios.banco;\n  if (datosBancarios.titular) mensajeConfirmado += '\nTitular: ' + datosBancarios.titular;\n  if (datosBancarios.cuenta)  mensajeConfirmado += '\nCuenta: ' + datosBancarios.cuenta;\n  if (datosBancarios.alias)   mensajeConfirmado += '\nAlias: ' + datosBancarios.alias;\n  mensajeConfirmado += '\n\nUna vez realizada, envíanos el comprobante por aquí. ¡Gracias!';\n}\n\n// Listo — solo retiro (delivery no recibe esta notificación)\nconst mensajeListo = '🔔 ¡Tu pedido #' + codigo + ' está listo para retirar! Te esperamos en el local.';\n\n// Entregado — retiro y delivery\nconst mensajeEntregado = tipoDespacho === 'delivery'\n  ? '📦 Tu pedido #' + codigo + ' fue entregado. ¡Gracias por elegirnos!' \n  : '📦 Tu pedido #' + codigo + ' fue entregado. ¡Gracias por elegirnos!';\n\nconst mensajes = {\n  confirmado:     mensajeConfirmado,\n  listo:          mensajeListo,\n  en_camino:      '🛵 Tu pedido #' + codigo + ' ya está en camino. ¡Pronto llega!',\n  entregado:      mensajeEntregado,\n  cancelado:      '❌ Tu pedido #' + codigo + ' ha sido cancelado. Escríbenos si tienes alguna duda.',\n  pago_confirmado: '✅ Confirmamos el pago de tu pedido #' + codigo + '. ¡Gracias!'\n};\n\nconst mensaje = mensajes[eventType] || null;\n\nreturn [{ json: { conversation_id: conversationId, mensaje: mensaje, event_type: eventType } }];"
      },
      "id": "aa000001-0000-0000-0000-000000000005",
      "name": "Construir Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-conv",
              "leftValue": "={{ $json.conversation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "check-msg",
              "leftValue": "={{ $json.mensaje }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000006",
      "name": "¿Hay Conversación?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8nlearning-chatwoot.avtsif.easypanel.host/api/v1/accounts/1/conversations/{{ $json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.mensaje) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}",
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000007",
      "name": "Enviar Mensaje",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        0
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GQGObUBKIPim8MDs",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "event_type": "confirmado",
            "pedido_id": 42,
            "pedido_codigo": "ISL-2026-042",
            "telefono": "+56912345678",
            "tipo_despacho": "delivery",
            "tiempo_estimado": "30 minutos"
          },
          "headers": {},
          "params": {}
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Buscar Contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contacto": {
      "main": [
        [
          {
            "node": "¿Contacto Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Contacto Encontrado?": {
      "main": [
        [
          {
            "node": "Obtener Conversaciones",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Obtener Conversaciones": {
      "main": [
        [
          {
            "node": "Construir Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Mensaje": {
      "main": [
        [
          {
            "node": "¿Hay Conversación?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Conversación?": {
      "main": [
        [
          {
            "node": "Enviar Mensaje",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "noti-estado-pedido-v1-0000-000000000001",
  "meta": {
    "instanceId": "d5ff1dfbe938dd1df5f04ecb5cda709a5ed90c849285e445f339251dbf18d613"
  },
  "id": "",
  "tags": []
}